---
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
---


<html data-wf-domain="dentomed.ro" data-wf-page="633daa121f130878e783b087" data-wf-site="633daa121f1308def083b05d" lang="ro">
    <head>
        <Head />
        <meta charset="utf-8"/>
        <title>Dentomed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://assets-global.website-files.com/633daa121f1308def083b05d/css/klaas-dentist-template.webflow.fc6c7bd97.min.css" rel="stylesheet" type="text/css"/>
        <style>
            @media (min-width: 992px) {
                html.w-mod-js:not(.w-mod-ix) [data-w-id="df0521d2-c544-247a-19f8-b2532354563d"] {
                    -webkit-transform:translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="018506cc-4efa-f8ae-fb77-56534e6b6477"] {
                    -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="df0521d2-c544-247a-19f8-b2532354563b"] {
                    -webkit-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94e"] {
                    opacity: 0;
                    display: none;
                }
            }

            @media (max-width: 991px) and (min-width:768px) {
                html.w-mod-js:not(.w-mod-ix) [data-w-id="df0521d2-c544-247a-19f8-b2532354563d"] {
                    -webkit-transform:translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="018506cc-4efa-f8ae-fb77-56534e6b6477"] {
                    -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="df0521d2-c544-247a-19f8-b2532354563b"] {
                    -webkit-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94c"] {
                    opacity: 0.4;
                    border-color: rgba(255,255,255,0.3);
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94e"] {
                    opacity: 0;
                    display: none;
                }
            }

            @media (max-width: 767px) and (min-width:480px) {
                html.w-mod-js:not(.w-mod-ix) [data-w-id="df0521d2-c544-247a-19f8-b2532354563d"] {
                    -webkit-transform:translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="018506cc-4efa-f8ae-fb77-56534e6b6477"] {
                    -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="df0521d2-c544-247a-19f8-b2532354563b"] {
                    -webkit-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94c"] {
                    opacity: 0.4;
                    border-color: rgba(255,255,255,0.3);
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94e"] {
                    opacity: 0;
                    display: none;
                }
            }

            @media (max-width: 479px) {
                html.w-mod-js:not(.w-mod-ix) [data-w-id="df0521d2-c544-247a-19f8-b2532354563d"] {
                    -webkit-transform:translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="018506cc-4efa-f8ae-fb77-56534e6b6477"] {
                    -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 0;
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="df0521d2-c544-247a-19f8-b2532354563b"] {
                    -webkit-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 8rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94c"] {
                    opacity: 0.4;
                    border-color: rgba(255,255,255,0.3);
                }

                html.w-mod-js:not(.w-mod-ix) [data-w-id="3f2e1cd5-d226-ebf1-01be-f4acc37fe94e"] {
                    opacity: 0;
                    display: none;
                }
            }
        </style>
        <link href="https://fonts.googleapis.com" rel="preconnect"/>
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <script type="text/javascript">
            WebFont.load({
                google: {
                    families: ["Gilda Display:regular:latin,latin-ext", "Inter:200,300,regular,500,600,700,800"]
                }
            });
        </script>
        <script type="text/javascript">
            !function(o, c) {
                var n = c.documentElement
                  , t = " w-mod-";
                n.className += t + "js",
                ("ontouchstart"in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
            }(window, document);
        </script>
    </head>
<div id="webpage" class="page-wrapper" data-astro-cid-kh3yfsqp="">
    <div class="fullscreen-menu" data-astro-cid-kh3yfsqp="">
        <div class="fullscreen-inner" data-astro-cid-kh3yfsqp="">
            <div class="fullscreen-menu-column-1" data-astro-cid-kh3yfsqp="">
                <div class="fullscreen-main-links" data-astro-cid-kh3yfsqp=""> <a href="/"
                        id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d2fc-8647d2f8" aria-current="page"
                        class="fullscreen-main-link w-inline-block" data-astro-cid-kh3yfsqp="">
                        <div class="fullscreen-link-sign" data-astro-cid-kh3yfsqp=""> <img
                                src="https://assets-global.website-files.com/633daa121f1308def083b05d/63485279143bbb85f51b026a_emergency_FILL0_wght700_GRAD0_opsz48.svg"
                                loading="lazy" alt="" class="fullscreen-link-icon" data-astro-cid-kh3yfsqp=""> </div>
                        <p class="fullscreen-link-text" data-astro-cid-kh3yfsqp="">Acasa</p>
                    </a> <a href="/servicii" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d300-8647d2f8"
                        class="fullscreen-main-link w-inline-block" data-astro-cid-kh3yfsqp="">
                        <div class="fullscreen-link-sign" data-astro-cid-kh3yfsqp=""> <img
                                src="https://assets-global.website-files.com/633daa121f1308def083b05d/63445d48a967446bb2352e2c_dentistry_FILL0_wght700_GRAD0_opsz48.svg"
                                loading="lazy" alt="" class="fullscreen-link-icon" data-astro-cid-kh3yfsqp=""> </div>
                        <p class="fullscreen-link-text" data-astro-cid-kh3yfsqp="">Tratamente</p>
                    </a> <a href="/echipa" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d308-8647d2f8"
                        class="fullscreen-main-link w-inline-block" data-astro-cid-kh3yfsqp="">
                        <div class="fullscreen-link-sign" data-astro-cid-kh3yfsqp=""> <img
                                src="https://assets-global.website-files.com/633daa121f1308def083b05d/6348527791314440fca3a435_volunteer_activism_FILL0_wght700_GRAD0_opsz48.svg"
                                loading="lazy" alt="" class="fullscreen-link-icon" data-astro-cid-kh3yfsqp=""> </div>
                        <p class="fullscreen-link-text" data-astro-cid-kh3yfsqp="">Despre Dentomed</p>
                    </a> <a href="/preturi" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d318-8647d2f8"
                        class="fullscreen-main-link w-inline-block w--current" data-astro-cid-kh3yfsqp="">
                        <div class="fullscreen-link-sign is-2nd" data-astro-cid-kh3yfsqp=""> <img
                                src="https://assets-global.website-files.com/633daa121f1308def083b05d/633daa121f1308e16a83b0a4_handshake_FILL0_wght700_GRAD0_opsz48.svg"
                                loading="lazy" alt="" class="fullscreen-link-icon" data-astro-cid-kh3yfsqp=""> </div>
                        <p class="fullscreen-link-text" data-astro-cid-kh3yfsqp="">Tarife</p>
                    </a> <a href="/blog" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d31c-8647d2f8"
                        class="fullscreen-main-link w-inline-block" data-astro-cid-kh3yfsqp="">
                        <div class="fullscreen-link-sign is-2nd" data-astro-cid-kh3yfsqp=""> <img
                                src="https://assets-global.website-files.com/633daa121f1308def083b05d/63485277267c0cacec46026e_thumbs_up_down_FILL0_wght700_GRAD0_opsz48.svg"
                                loading="lazy" alt="" class="fullscreen-link-icon" data-astro-cid-kh3yfsqp=""> </div>
                        <p class="fullscreen-link-text" data-astro-cid-kh3yfsqp="">Blog</p>
                    </a> <a href="/recenzii" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d320-8647d2f8"
                        class="fullscreen-main-link w-inline-block" data-astro-cid-kh3yfsqp="">
                        <div class="fullscreen-link-sign is-2nd" data-astro-cid-kh3yfsqp=""> <img
                                src="https://assets-global.website-files.com/633daa121f1308def083b05d/63445d4896d8e536c67612f9_mood_FILL0_wght700_GRAD0_opsz48.svg"
                                loading="lazy" alt="" class="fullscreen-link-icon" data-astro-cid-kh3yfsqp=""> </div>
                        <p class="fullscreen-link-text" data-astro-cid-kh3yfsqp="">Recenziile pacientilor</p>
                    </a> <a href="/galerie" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d324-8647d2f8"
                        class="fullscreen-main-link w-inline-block" data-astro-cid-kh3yfsqp="">
                        <div class="fullscreen-link-sign is-2nd" data-astro-cid-kh3yfsqp=""> <img
                                src="https://assets-global.website-files.com/633daa121f1308def083b05d/633daa121f13088c3f83b158_perm_media_FILL0_wght700_GRAD0_opsz48.svg"
                                loading="lazy" alt="" class="fullscreen-link-icon" data-astro-cid-kh3yfsqp=""> </div>
                        <p class="fullscreen-link-text" data-astro-cid-kh3yfsqp="">Galerie</p>
                    </a><a href="/programare" class="fullscreen-main-link with-border w-inline-block"
                        data-astro-cid-kh3yfsqp="">
                        <div class="fullscreen-link-sign is-2nd" data-astro-cid-kh3yfsqp=""> <img
                                src="https://assets-global.website-files.com/633daa121f1308def083b05d/633daa121f1308119783b100_sms_FILL0_wght700_GRAD0_opsz48.svg"
                                loading="lazy" alt="" class="fullscreen-link-icon" data-astro-cid-kh3yfsqp=""> </div>
                        <p class="fullscreen-link-text" data-astro-cid-kh3yfsqp="">Contact</p>
                    </a> </div>
            </div>
            <div class="fullscreen-menu-column-3" data-astro-cid-kh3yfsqp="">
                <div class="menu-column-2-contacts" data-astro-cid-kh3yfsqp="">
                    <div class="menu-contacts-padding" data-astro-cid-kh3yfsqp="">
                        <div class="menu-contacts" data-astro-cid-kh3yfsqp="">
                            <p class="menu-contact-title" data-astro-cid-kh3yfsqp="">Contact</p> <a href="/programare"
                                class="button-listing-1-link in-menu w-inline-block" data-astro-cid-kh3yfsqp="">
                                <p class="button-listing-1-text" data-astro-cid-kh3yfsqp="">ClinicDentomed@gmail.com
                                </p>
                            </a> <a href="tel:+40787389952" class="button-listing-1-link in-menu w-inline-block"
                                data-astro-cid-kh3yfsqp="">
                                <p class="button-listing-1-text" data-astro-cid-kh3yfsqp="">+40 787 389 952</p>
                            </a> <a href="tel:+40787681941" class="button-listing-1-link in-menu w-inline-block"
                                data-astro-cid-kh3yfsqp="">
                                <p class="button-listing-1-text" data-astro-cid-kh3yfsqp="">+40 787 681 941</p>
                            </a>
                            <a href="https://wa.me/40787681941" class="button-listing-1-link in-menu w-inline-block">
                                <p class="button-listing-1-text">Whatsapp</p>
                            </a>
                        </div>
                        <div class="socials-3 w-dyn-list" data-astro-cid-kh3yfsqp="">
                            <div role="list" class="socials-1-list w-dyn-items" data-astro-cid-kh3yfsqp="">
                                <div role="listitem" class="social-1-item w-dyn-item" data-astro-cid-kh3yfsqp=""> <a
                                        data-w-id="8a9e3b22-3da0-0a66-f23d-b4b391fbecc6" href="https://www.instagram.com/dentomed_clinic/"
                                        class="social-1-link-block w-inline-block" data-astro-cid-kh3yfsqp=""> <img
                                            src="/dental-images/instagram.svg"
                                            loading="lazy" alt="Instagram" class="social-icon" data-astro-cid-kh3yfsqp="">
                                        <div class="social-link-circle is-dark" data-astro-cid-kh3yfsqp=""></div>
                                    </a> </div>
                                <div role="listitem" class="social-1-item w-dyn-item" data-astro-cid-kh3yfsqp=""> <a
                                        data-w-id="8a9e3b22-3da0-0a66-f23d-b4b391fbecc6" href="https://www.facebook.com/dentomed.ro/"
                                        class="social-1-link-block w-inline-block" data-astro-cid-kh3yfsqp=""> <img
                                            src="https://assets-global.website-files.com/633daa121f130819bf83b08d/633daa121f1308540d83b18a_facebook-logo-black.svg"
                                            loading="lazy" alt="Facebook" class="social-icon"
                                            data-astro-cid-kh3yfsqp="">
                                        <div class="social-link-circle is-dark" data-astro-cid-kh3yfsqp=""></div>
                                    </a> </div>
                                <div role="listitem" class="social-1-item w-dyn-item" data-astro-cid-kh3yfsqp=""> <a
                                        data-w-id="8a9e3b22-3da0-0a66-f23d-b4b391fbecc6" href="https://www.google.com/search?client=firefox-b-d&sxsrf=AOaemvINGQlo58gFWfO-ACPS8Du5G5W07A:1633630200446&q=dentomed%20google%20reviews&sa=X&ved=2ahUKEwiZoare8rjzAhVEExoKHW5YBnYQvS56BAgJEEw&biw=1536&bih=711&dpr=1.25&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=6121119589041714774&lqi=ChdkZW50b21lZCBnb29nbGUgcmV2aWV3cyIFOAGIAQFIrqnDl8KrgIAIWg4QABgAIghkZW50b21lZJIBDWRlbnRhbF9jbGluaWM&rlst=f#rlfi=hd:;si:6121119589041714774,l,ChdkZW50b21lZCBnb29nbGUgcmV2aWV3cyIFOAGIAQFIrqnDl8KrgIAIWg4QABgAIghkZW50b21lZJIBDWRlbnRhbF9jbGluaWM;mv:%5B%5B45.1738718,40.5519939%5D,%5B40.7695906,25.173650199999997%5D%5D;tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e3!3sIAE,lf:1,lf_ui:2"
                                        class="social-1-link-block w-inline-block" data-astro-cid-kh3yfsqp=""> <img
                                            src="/dental-images/google-plus.svg"
                                            loading="lazy" alt="GooglePlus" class="social-icon"
                                            data-astro-cid-kh3yfsqp="">
                                        <div class="social-link-circle is-dark" data-astro-cid-kh3yfsqp=""></div>
                                    </a> </div>
                                <div role="listitem" class="social-1-item w-dyn-item" data-astro-cid-kh3yfsqp=""> <a
                                        data-w-id="8a9e3b22-3da0-0a66-f23d-b4b391fbecc6" href="#"
                                        class="social-1-link-block w-inline-block" data-astro-cid-kh3yfsqp=""> <img
                                            src="/dental-images/youtube-play.svg"
                                            loading="lazy" alt="YoutubePlay" class="social-icon"
                                            data-astro-cid-kh3yfsqp="">
                                        <div class="social-link-circle is-dark" data-astro-cid-kh3yfsqp=""></div>
                                    </a> </div>    
                            </div>
                        </div> <a href="/programare" class="fullscreen-menu-contact-link w-inline-block"
                            data-astro-cid-kh3yfsqp="">
                            <p class="fullscreen-menu-contact-text" data-astro-cid-kh3yfsqp="">Programare Online</p>
                                </a>
                            </div>
                        </div>
                        <img srcset="https://assets-global.website-files.com/633daa121f1308def083b05d/635c47c9c91793105a2ddf02_goby-D0ApR8XZgLI-unsplash%20(1)-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f1308def083b05d/635c47c9c91793105a2ddf02_goby-D0ApR8XZgLI-unsplash%20(1)-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f1308def083b05d/635c47c9c91793105a2ddf02_goby-D0ApR8XZgLI-unsplash%20(1)-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f1308def083b05d/635c47c9c91793105a2ddf02_goby-D0ApR8XZgLI-unsplash%20(1)-p-1600.jpg 1600w, https://assets-global.website-files.com/633daa121f1308def083b05d/635c47c9c91793105a2ddf02_goby-D0ApR8XZgLI-unsplash%20(1).jpg 2000w" loading="lazy" sizes="100vw" src="https://assets-global.website-files.com/633daa121f1308def083b05d/635c47c9c91793105a2ddf02_goby-D0ApR8XZgLI-unsplash%20(1).jpg" alt="Klaas - Dentist website Webflow template" class="menu-cover-image"/>
                        <div class="bg-color-for-column-2"></div>
                        <div class="bg-animation-for-column-2"></div>
                    </div>
                    <div data-w-id="8f893bb8-edec-5ffe-1af6-e4c68647d347" class="close-button">
                        <div class="close-text-block">
                            <p class="close-text">Inchide fereastra</p>
                        </div>
                        <div class="close-button-bg"></div>
                    </div>
                    <div class="fullscreen-menu-bg"></div>
                </div>
            </div>
            <div class="global-styles w-embed"></div>
            <div data-animation="default" data-collapse="none" data-duration="0" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
                <div class="navbar-flex">
                    <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993a19-68993a17" class="nav-block-1">
                        <a href="/" aria-current="page" class="brand-link-block w-nav-brand w--current">
                            <p class="brand-name">DentoMed</p>
                            <p class="brand-slogan">Clinica Stomatologica</p>
                        </a>
                    </div>
                    <div class="main-nav">
                        <div class="nav-topbar">
                            <a href="#" class="topbar-link-block tab-is-hide w-inline-block">
                                <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/634b203b90db01438b5549c9_icon-contact-tan-2.svg" loading="lazy" alt="" class="topbar-icon"/>
                                <div>ClinicDentomed@gmail.com</div>
                            </a>
                            <a href="tel:+40787389952" class="topbar-link-block tab-is-hide w-inline-block">
                                <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/634b203c316ad0809dd6afaa_icon-contact-tan-1.svg" loading="lazy" alt="" class="topbar-icon"/>
                                <div>Programare Telefon</div>
                            </a>
                        </a>
                        <a href="tel:+40787681941" class="topbar-link-block tab-is-hide w-inline-block">
                            <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/634b203c316ad0809dd6afaa_icon-contact-tan-1.svg" loading="lazy" alt="" class="topbar-icon"/>
                            <div>Programare Telefon</div>
                        </a>
                            <a href="/programare" class="topbar-link-block w-inline-block">
                                <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/63565cc4db028ef7c69d1064_emergency_FILL0_wght100_GRAD0_opsz48-tan.svg" loading="lazy" alt="" class="topbar-icon"/>
                                <div>Programare</div>
                            </a>
                        </div>
                        <div class="nav-links">
                            <nav role="navigation" class="nav-links-height w-nav-menu">
                                <a href="/" aria-current="page" class="nav-link w-inline-block w--current">
                                    <p class="menu-link-title">Acasa</p>
                                </a>
                                <div data-hover="true" data-delay="0" class="dropdown-link w-dropdown">
                                    <div class="dropdown-toggle w-dropdown-toggle">
                                        <p class="menu-link-title">Tratamente</p>
                                        <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                                    </div>
                                    <nav class="dropdown-list w-dropdown-list">
                                        <div class="menu-treatments-links w-dyn-list">
                                            <div role="list" class="menu-treatments-list w-dyn-items">
                                                <div role="listitem" class="menu-treatment-item w-dyn-item">
                                                    <a href="/estetica" class="menu-treatment-link w-inline-block">
                                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fabb807f7a802544ec0_pexels-cedric-fauntleroy-4269942.jpg" loading="lazy" alt="Dental hygiene" sizes="100vw" srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fabb807f7a802544ec0_pexels-cedric-fauntleroy-4269942-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fabb807f7a802544ec0_pexels-cedric-fauntleroy-4269942-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fabb807f7a802544ec0_pexels-cedric-fauntleroy-4269942-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fabb807f7a802544ec0_pexels-cedric-fauntleroy-4269942.jpg 1920w" class="menu-treatment-image"/>
                                                        <p class="menu-treatment-name">Estetica Dentara</p>
                                                    </a>
                                                </div>
                                                <div role="listitem" class="menu-treatment-item w-dyn-item">
                                                    <a href="/parodontologie" class="menu-treatment-link w-inline-block">
                                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/6345b011a928fa56b2c8c526_pexels-polina-zimmerman-4687360.jpg" loading="lazy" alt="Dental fillings" sizes="100vw" srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/6345b011a928fa56b2c8c526_pexels-polina-zimmerman-4687360-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/6345b011a928fa56b2c8c526_pexels-polina-zimmerman-4687360-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/6345b011a928fa56b2c8c526_pexels-polina-zimmerman-4687360-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/6345b011a928fa56b2c8c526_pexels-polina-zimmerman-4687360.jpg 1920w" class="menu-treatment-image"/>
                                                        <p class="menu-treatment-name">Parodontologie cu Laser</p>
                                                    </a>
                                                </div>
                                                <div role="listitem" class="menu-treatment-item w-dyn-item">
                                                    <a href="/odontologie" class="menu-treatment-link w-inline-block">
                                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634431ff10cfb6a317b70b6e_pexels-cedric-fauntleroy-4269694.jpg" loading="lazy" alt="Dental crowns" sizes="100vw" srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634431ff10cfb6a317b70b6e_pexels-cedric-fauntleroy-4269694-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634431ff10cfb6a317b70b6e_pexels-cedric-fauntleroy-4269694-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634431ff10cfb6a317b70b6e_pexels-cedric-fauntleroy-4269694-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634431ff10cfb6a317b70b6e_pexels-cedric-fauntleroy-4269694.jpg 1920w" class="menu-treatment-image"/>
                                                        <p class="menu-treatment-name">Odontologie</p>
                                                    </a>
                                                </div>
                                                <div role="listitem" class="menu-treatment-item w-dyn-item">
                                                    <a href="/dsd" class="menu-treatment-link w-inline-block">
                                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/63441006c33b96301b3d5762_pexels-tima-miroshnichenko-5355731.jpg" loading="lazy" alt="Dental bridges" sizes="100vw" srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/63441006c33b96301b3d5762_pexels-tima-miroshnichenko-5355731-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63441006c33b96301b3d5762_pexels-tima-miroshnichenko-5355731-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63441006c33b96301b3d5762_pexels-tima-miroshnichenko-5355731-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63441006c33b96301b3d5762_pexels-tima-miroshnichenko-5355731.jpg 1920w" class="menu-treatment-image"/>
                                                        <p class="menu-treatment-name">Digital Smile Design</p>
                                                    </a>
                                                </div>
                                                <div role="listitem" class="menu-treatment-item w-dyn-item">
                                                    <a href="/dinti-ficsi-24h" class="menu-treatment-link w-inline-block">
                                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fea3c42c41b43a703ee_pexels-cedric-fauntleroy-4270361.jpg" loading="lazy" alt="Fixed braces" sizes="100vw" srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fea3c42c41b43a703ee_pexels-cedric-fauntleroy-4270361-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fea3c42c41b43a703ee_pexels-cedric-fauntleroy-4270361-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fea3c42c41b43a703ee_pexels-cedric-fauntleroy-4270361-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63440fea3c42c41b43a703ee_pexels-cedric-fauntleroy-4270361.jpg 1920w" class="menu-treatment-image"/>
                                                        <p class="menu-treatment-name">Dinti ficsi in 24h</p>
                                                    </a>
                                                </div>
                                                <div role="listitem" class="menu-treatment-item w-dyn-item">
                                                    <a href="/estetica" class="menu-treatment-link w-inline-block">
                                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/63441077c05a9965bbdae24a_pexels-anna-shvets-3845810.jpg" loading="lazy" alt="Teeth whitening" sizes="100vw" srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/63441077c05a9965bbdae24a_pexels-anna-shvets-3845810-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63441077c05a9965bbdae24a_pexels-anna-shvets-3845810-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63441077c05a9965bbdae24a_pexels-anna-shvets-3845810-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63441077c05a9965bbdae24a_pexels-anna-shvets-3845810-p-1600.jpg 1600w, https://assets-global.website-files.com/633daa121f130819bf83b08d/63441077c05a9965bbdae24a_pexels-anna-shvets-3845810.jpg 1920w" class="menu-treatment-image"/>
                                                        <p class="menu-treatment-name">Tratament albire</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu-sublinks-1">
                                            <div class="menu-sublinks-1-flex-1">
                                                <p class="menu-text-1">
                                                    Oferim peste <strong>34 de tipuri de servicii</strong>
                                                    si proceduri
                                                </p>
                                            </div>
                                            <a data-w-id="a382427e-9b0d-1c69-172a-d09ce1100bed" href="/servicii" class="button w-inline-block">
                                                <div class="text-for-button">Toate serviciile</div>
                                                <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/634b07f56668dd28b880b46b_arrow-icon-tan.svg" loading="lazy" alt="" class="icon-for-button"/>
                                                <div class="button-bg"></div>
                                            </a>
                                        </div>
                                    </nav>
                                </div>
                                <div data-hover="true" data-delay="0" class="dropdown-link w-dropdown">
                                    <div class="dropdown-toggle w-dropdown-toggle">
                                        <p class="menu-link-title">Categorii</p>
                                        <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                                    </div>
                                    <nav class="dropdown-list w-dropdown-list">
                                        <div class="menu-category-links w-dyn-list">
                                            <div role="list" class="menu-category-list w-dyn-items">
                                                <div role="listitem" class="menu-category-item w-dyn-item">
                                                    <a data-w-id="f83099e5-ced6-9112-74b8-f926afdc4f28" href="#" class="menu-category-link w-inline-block">
                                                        <p class="menu-category-name">Stomatologie Generala</p>
                                                        <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/633daa121f1308e1c283b0a1_arrow-icon-white-4.svg" loading="lazy" alt="" class="menu-category-icon"/>
                                                        <div class="menu-category-color"></div>
                                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/6344150a957ad877aa8578db_pexels-cedric-fauntleroy-4270940.jpg" loading="lazy" alt="General Dentistry" sizes="100vw" srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/6344150a957ad877aa8578db_pexels-cedric-fauntleroy-4270940-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/6344150a957ad877aa8578db_pexels-cedric-fauntleroy-4270940-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/6344150a957ad877aa8578db_pexels-cedric-fauntleroy-4270940-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/6344150a957ad877aa8578db_pexels-cedric-fauntleroy-4270940.jpg 1920w" class="menu-category-image"/>
                                                    </a>
                                                </div>
                                                <div role="listitem" class="menu-category-item w-dyn-item">
                                                    <a data-w-id="f83099e5-ced6-9112-74b8-f926afdc4f28" href="#" class="menu-category-link w-inline-block">
                                                        <p class="menu-category-name">Stomatologie Estetica</p>
                                                        <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/633daa121f1308e1c283b0a1_arrow-icon-white-4.svg" loading="lazy" alt="" class="menu-category-icon"/>
                                                        <div class="menu-category-color"></div>
                                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/6344153692736defe3cac7e6_pexels-cedric-fauntleroy-4269360.jpg" loading="lazy" alt="Cosmetic Dentistry" sizes="100vw" srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/6344153692736defe3cac7e6_pexels-cedric-fauntleroy-4269360-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/6344153692736defe3cac7e6_pexels-cedric-fauntleroy-4269360-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/6344153692736defe3cac7e6_pexels-cedric-fauntleroy-4269360-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/6344153692736defe3cac7e6_pexels-cedric-fauntleroy-4269360.jpg 1920w" class="menu-category-image"/>
                                                    </a>
                                                </div>
                                                <div role="listitem" class="menu-category-item w-dyn-item">
                                                    <a data-w-id="f83099e5-ced6-9112-74b8-f926afdc4f28" href="#" class="menu-category-link w-inline-block">
                                                        <p class="menu-category-name">Ortodonție</p>
                                                        <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/633daa121f1308e1c283b0a1_arrow-icon-white-4.svg" loading="lazy" alt="" class="menu-category-icon"/>
                                                        <div class="menu-category-color"></div>
                                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634414e33807de5d3bb44386_pexels-cedric-fauntleroy-4266945.jpg" loading="lazy" alt="Teeth Straightening" sizes="100vw" srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634414e33807de5d3bb44386_pexels-cedric-fauntleroy-4266945-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634414e33807de5d3bb44386_pexels-cedric-fauntleroy-4266945-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634414e33807de5d3bb44386_pexels-cedric-fauntleroy-4266945-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634414e33807de5d3bb44386_pexels-cedric-fauntleroy-4266945.jpg 1920w" class="menu-category-image"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                                <div data-hover="true" data-delay="0" class="dropdown-link w-dropdown">
                                    <div class="dropdown-toggle w-dropdown-toggle">
                                        <p class="menu-link-title">Despre DentoMed</p>
                                        <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                                    </div>
                                    <nav class="dropdown-list w-dropdown-list">
                                        <div class="menu-large-links">
                                            <a href="/echipa" class="menu-large-link">Echipa</a>
                                            <a href="/galerie" class="menu-large-link">Galerie</a>
                                            <a href="/recenzii" class="menu-large-link">Recenzii</a>
                                        </div>
                                    </nav>
                                </div>
                                <div class="nav-secondary-links">
                                    <a href="/preturi" class="nav-link w-inline-block">
                                        <p class="menu-link-title">Tarife Servicii</p>
                                    </a>
                                    <a href="#" class="nav-link w-inline-block">
                                        <p class="menu-link-title">Blog</p>
                                    </a>
                                    <a href="/programare" class="nav-link w-inline-block">
                                        <p class="menu-link-title">Contact</p>
                                    </a>
                                </div>
                            </nav>
                            <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993abe-68993a17" class="mobile-menu-button w-nav-button">
                                <div class="menu-mobile-button-flex">
                                    <div class="menu-mobile-text">Meniu</div>
                                    <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/634c23603e23cc289fce9a7c_menu_FILL0_wght700_GRAD0_opsz48.svg" loading="lazy" alt="" class="menu-icon"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-id="91006749-ec9e-64e2-c6c6-553d4621c8d5" class="fixed-menu-button">
                        <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/634c23603e23cc289fce9a7c_menu_FILL0_wght700_GRAD0_opsz48.svg" loading="lazy" alt="" class="fixed-button-icon"/>
                    </div>
                </div>
            </div>
        <main class="main">
            <header class="header-6">
                <div class="container">
                    <h1 data-w-id="61105768-a1d9-5172-8984-ba6f87ff4b87"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        class="header-6-title-3">Echipa Dentomed</h1>
                </div>
                <div class="header-6-image-size-team">
                    <div class="while-scrolling-effect-5rem"
                        style="will-change: transform; transform: translate3d(0px, -1.063rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="image-animation-trigger">
                            <div class="parallax-animation-medium">
                                <div class="animation-color-bg"
                                    style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                </div><img
                                    src="/images/logo-black.svg"
                                    loading="lazy"
                                    alt="Logo Dentomed" sizes="(max-width: 991px) 120vw, 180vw"
                                    class="cover-image is-parallax-medium"
                                    style="transform: translate3d(0px, 1.7008%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-absolute-block">
                    <div class="sticky-100vh-block">
                        <div class="bg-color-for-sticky-sec-2"></div>
                        <div data-poster-url="https://assets-global.website-files.com/633daa121f1308def083b05d/634eda6c8cfa4f798418f604_production ID_4491008-poster-00001.jpg"
                            data-video-urls="/video/echipa-banner.mp4,https://assets-global.website-files.com/633daa121f1308def083b05d/634eda6c8cfa4f798418f604_production ID_4491008-transcode.webm"
                            data-autoplay="true" data-loop="true" data-wf-ignore="true"
                            data-beta-bgvideo-upgrade="false"
                            class="video-background w-background-video w-background-video-atom"><video
                                id="4e19d988-9ef9-5caa-f4dc-235c7c644bad-video" autoplay="" loop=""
                                style="background-image:url(&quot;https://assets-global.website-files.com/633daa121f1308def083b05d/634eda6c8cfa4f798418f604_production ID_4491008-poster-00001.jpg&quot;)"
                                muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                                <source
                                    src="/video/echipa-banner.mp4"
                                    data-wf-ignore="true">
                                <source
                                    src="https://assets-global.website-files.com/633daa121f1308def083b05d/634eda6c8cfa4f798418f604_production ID_4491008-transcode.webm"
                                    data-wf-ignore="true">
                            </video></div>
                    </div>
                </div>

            </header>
            <section class="section">
                <div class="container">
                    <div class="padding">
                        <div class="vertical-flex-gap-8em">
                            <div class="vertical-flex-gap-2em">
                                <h2 class="heading is-small-title">Medici Stomalogi Specialisti</h2>
                                <div class="the-team-2 w-dyn-list">
                                    <div role="list" class="team-2-list w-dyn-items">
                                        
                                        <div role="listitem" class="team-2-item w-dyn-item"><a
                                            id="w-node-_201932de-c902-c6f4-21ac-fc776328a8de-bb51a2bb"
                                            href="#" class="team-2-content w-inline-block">
                                            <p class="team-2-name">Dr.Aljassani Nur Al Huda</p>
                                            <p class="team-2-role">-Medic Stomatolog Specialist Parodontolog (Medic-Sef)</p>
                                        </a>
                                            <div class="team-2-image">
                                                <div class="_3d-block">
                                                    <div class="image-animation-trigger _3d-for-image"
                                                        style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                        <div class="animation-color-bg is-linen"
                                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                        </div><img alt="Dr.Aljassani Nur Al Huda"
                                                            src="/dental-images/dr1.PNG"
                                                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, 30vw"
                                                        
                                                            class="cover-image is-team"
                                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="listitem" class="team-2-item w-dyn-item"><a
                                            id="w-node-_201932de-c902-c6f4-21ac-fc776328a8de-bb51a2bb"
                                            href="#" class="team-2-content w-inline-block">
                                            <p class="team-2-name">Dr.Jouda Hisham</p>
                                            <p class="team-2-role">-Medic Stomatolog Specialist Ortodonție și Ortopedie Dento-Faciala</p>
                                        </a>
                                        <div class="team-2-image">
                                            <div class="_3d-block">
                                                <div class="image-animation-trigger _3d-for-image"
                                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    <div class="animation-color-bg is-linen"
                                                        style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    </div><img alt="Dr.Jouda Hisham"
                                                        src="/dental-images/dr2.PNG"
                                                        sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, 30vw"
                                                        class="cover-image is-team"
                                                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div role="listitem" class="team-2-item w-dyn-item"><a
                                                id="w-node-_201932de-c902-c6f4-21ac-fc776328a8de-bb51a2bb"
                                                href="#" class="team-2-content w-inline-block">
                                                <p class="team-2-name">Dr.Alkhafaji Ali</p>
                                                <p class="team-2-role">-Medic Stomatolog Specialist in Endodonție și Estetica Dentara</p>
                                            </a>
                                            <div class="team-2-image">
                                                <div class="_3d-block">
                                                    <div class="image-animation-trigger _3d-for-image"
                                                        style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                        <div class="animation-color-bg is-linen"
                                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                        </div><img alt="Dr.Alkhafaji Ali"
                                                            src="/dental-images/dr3.PNG"
                                                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, 30vw"
                                                            class="cover-image is-team"
                                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="listitem" class="team-2-item w-dyn-item"><a
                                                id="w-node-_201932de-c902-c6f4-21ac-fc776328a8de-bb51a2bb"
                                                href="#" class="team-2-content w-inline-block">
                                                <p class="team-2-name">Dr.Buzoiu Andreas</p>
                                                <p class="team-2-role">-Specialist Chirurgie Dento-Alveolara și Implantologie Avansată</p>
                                            </a>
                                            <div class="team-2-image">
                                                <div class="_3d-block">
                                                    <div class="image-animation-trigger _3d-for-image"
                                                        style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                        <div class="animation-color-bg is-linen"
                                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                        </div><img alt="Dr.Buzoiu Andreas"
                                                            src="/dental-images/dr4.PNG"
                                                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, 30vw"
                                                            class="cover-image is-team"
                                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="listitem" class="team-2-item w-dyn-item"><a
                                                id="w-node-_201932de-c902-c6f4-21ac-fc776328a8de-bb51a2bb"
                                                href="#" class="team-2-content w-inline-block">
                                                <p class="team-2-name">Dr.Aljassani Sara</p>
                                                <p class="team-2-role"></p>
                                            </a>
                                            <div class="team-2-image">
                                                <div class="_3d-block">
                                                    <div class="image-animation-trigger _3d-for-image"
                                                        style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                        <div class="animation-color-bg is-linen"
                                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                        </div><img alt="Dr.Aljassani Sara"
                                                            src="/dental-images/dr5.PNG"
                                                            sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, 30vw"
                                                            class="cover-image is-team"
                                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="listitem" class="team-2-item w-dyn-item"><a
                                            id="w-node-_201932de-c902-c6f4-21ac-fc776328a8de-bb51a2bb"
                                            href="#" class="team-2-content w-inline-block">
                                            <p class="team-2-name">Dr.Khalaf Yosif</p>
                                            <p class="team-2-role"></p>
                                        </a>
                                        <div class="team-2-image">
                                            <div class="_3d-block">
                                                <div class="image-animation-trigger _3d-for-image"
                                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    <div class="animation-color-bg is-linen"
                                                        style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    </div><img alt="Dr.Khalaf Yosif"
                                                        src="/dental-images/dr6.PNG"
                                                        sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, 30vw"
                                                        class="cover-image is-team"
                                                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="listitem" class="team-2-item w-dyn-item"><a
                                        id="w-node-_201932de-c902-c6f4-21ac-fc776328a8de-bb51a2bb"
                                        href="#" class="team-2-content w-inline-block">
                                        <p class="team-2-name">Dr.Ammari Seif</p>
                                        <p class="team-2-role"></p>
                                    </a>
                                    <div class="team-2-image">
                                        <div class="_3d-block">
                                            <div class="image-animation-trigger _3d-for-image"
                                                style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                <div class="animation-color-bg is-linen"
                                                    style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                </div><img alt="Dr.Ammari Seif"
                                                    src="/dental-images/dr7.PNG"
                                                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, 30vw"
                                                    class="cover-image is-team"
                                                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </section>
            <div class="section-image">
                <div class="while-scrolling-effect-5rem"
                    style="will-change: transform; transform: translate3d(0px, 5rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    <div class="image-animation-trigger">
                        <div class="parallax-animation-medium">
                            <div class="animation-color-bg"
                                style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            </div><img
                                src="/dental-images/echipa-patient.PNG"
                                loading="lazy"
                                
                                alt="Echipa - Generic Patient Logo" sizes="100vw"
                                class="cover-image is-parallax-medium"
                                style="transform: translate3d(0px, -8%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                        </div>
                    </div>
                </div>
            </div>
            <section class="section overflow-visible">
                <div class="w-layout-grid content-grid-7">
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d63c-bb51a2bb" class="grid-7-block-1 is-center">
                        <div class="numbering-block">
                            <p class="sign-text" style="opacity: 0;">2</p>
                            <div class="numbering-line" style="opacity: 0;"></div>
                            <p class="sign-text" style="opacity: 0;">Know-how</p>
                        </div>
                        <h3 class="heading is-grid-7-title-1"><span class="opacity-70">Avem peste
                            </span>20&nbsp;de ani<span class="opacity-70"> de experienta in domeniul stomatologiei</span></h3>
                    </div>
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d649-bb51a2bb" class="grid-7-image-4">
                        <div class="_3d-block">
                            <div class="image-animation-trigger _3d-for-image"
                                style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <div class="animation-color-bg" style="display: block;"></div>
                                <div data-poster-url="https://assets-global.website-files.com/633daa121f1308def083b05d/635afb30079738a384765fcd_pexels-karolina-grabowska-6630297 (2) (1)-poster-00001.jpg"
                                    data-video-urls="https://assets-global.website-files.com/633daa121f1308def083b05d/635afb30079738a384765fcd_pexels-karolina-grabowska-6630297 (2) (1)-transcode.mp4,https://assets-global.website-files.com/633daa121f1308def083b05d/635afb30079738a384765fcd_pexels-karolina-grabowska-6630297 (2) (1)-transcode.webm"
                                    data-autoplay="true" data-loop="true" data-wf-ignore="true"
                                    class="cover-image w-background-video w-background-video-atom"
                                    style="transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <video id="fb36591e-8132-f248-99e0-7f3f440a3dfa-video" autoplay="" loop=""
                                        style="background-image:url(&quot;https://assets-global.website-files.com/633daa121f1308def083b05d/635afb30079738a384765fcd_pexels-karolina-grabowska-6630297 (2) (1)-poster-00001.jpg&quot;)"
                                        muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                                        <source
                                            src="https://assets-global.website-files.com/633daa121f1308def083b05d/635afb30079738a384765fcd_pexels-karolina-grabowska-6630297 (2) (1)-transcode.mp4"
                                            data-wf-ignore="true">
                                        <source
                                            src="https://assets-global.website-files.com/633daa121f1308def083b05d/635afb30079738a384765fcd_pexels-karolina-grabowska-6630297 (2) (1)-transcode.webm"
                                            data-wf-ignore="true">
                                    </video></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-layout-grid content-grid-11 in-team">
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d64f-bb51a2bb" class="grid-11-block-1"><img
                            src="https://assets-global.website-files.com/633daa121f1308def083b05d/63565cc4db028ef7c69d1064_emergency_FILL0_wght100_GRAD0_opsz48-tan.svg"
                            loading="lazy" alt="" class="grid-icon-1">
                        <p class="grid-11-text-1">Suntem profesionisti in medicina orala</p>
                    </div>
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d653-bb51a2bb" class="grid-11-block-2">
                        <div class="_3d-block">
                            <div class="image-animation-trigger _3d-for-image"
                                style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <div class="parallax-animation">
                                    <div class="animation-color-bg" style="display: block;"></div><img sizes="100vw"
                                        loading="lazy"
                                        srcset="https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e60797383f0b7608d2_candid-WFsNCIn8OF4-unsplash-p-500.webp 500w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e60797383f0b7608d2_candid-WFsNCIn8OF4-unsplash-p-800.webp 800w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e60797383f0b7608d2_candid-WFsNCIn8OF4-unsplash-p-1080.webp 1080w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e60797383f0b7608d2_candid-WFsNCIn8OF4-unsplash.webp 1920w"
                                        alt="Klaas - Dentist website Webflow template"
                                        src="https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e60797383f0b7608d2_candid-WFsNCIn8OF4-unsplash.webp"
                                        class="cover-image is-parallax"
                                        style="transform: translate3d(0px, -7%, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d659-bb51a2bb" class="grid-11-block-1">
                        <p class="grid-11-text-2">7</p>
                        <p class="grid-11-text-3">stomatologi specializati</p>
                    </div>
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d65e-bb51a2bb" class="grid-11-block-2">
                        <div class="_3d-block">
                            <div class="image-animation-trigger _3d-for-image"
                                style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <div class="parallax-animation">
                                    <div class="animation-color-bg" style="display: block;"></div><img sizes="100vw"
                                        loading="lazy"
                                        srcset="https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e54c392f221dd84cfb_pawel-czerwinski-a4MRm2Zbj2E-unsplash-p-500.webp 500w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e54c392f221dd84cfb_pawel-czerwinski-a4MRm2Zbj2E-unsplash-p-800.webp 800w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e54c392f221dd84cfb_pawel-czerwinski-a4MRm2Zbj2E-unsplash-p-1080.webp 1080w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e54c392f221dd84cfb_pawel-czerwinski-a4MRm2Zbj2E-unsplash.webp 1367w"
                                        alt="Klaas - Dentist website Webflow template"
                                        src="https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e54c392f221dd84cfb_pawel-czerwinski-a4MRm2Zbj2E-unsplash.webp"
                                        class="cover-image is-parallax"
                                        style="transform: translate3d(0px, -7%, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d664-bb51a2bb" class="grid-11-block-1">
                        <div class="grid-11-block-1-content">
                            <img src="/images/logo.svg">
                        </div>
                    </div>
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d66a-bb51a2bb" class="grid-11-block-2">
                        <div class="image-animation-trigger">
                            <div class="animation-color-bg is-linen" style="display: block;"></div><img sizes="100vw"
                                loading="lazy"
                                srcset="https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e6e3bc1b709f89ce57_diana-polekhina-MUfTX5QshRw-unsplash-p-500.webp 500w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e6e3bc1b709f89ce57_diana-polekhina-MUfTX5QshRw-unsplash-p-800.webp 800w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e6e3bc1b709f89ce57_diana-polekhina-MUfTX5QshRw-unsplash-p-1080.webp 1080w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e6e3bc1b709f89ce57_diana-polekhina-MUfTX5QshRw-unsplash.webp 1920w"
                                alt="Klaas - Dentist website Webflow template"
                                src="https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e6e3bc1b709f89ce57_diana-polekhina-MUfTX5QshRw-unsplash.webp"
                                class="cover-image is-parallax"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                    </div>
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d66e-bb51a2bb" class="grid-11-block-1">
                        <p class="grid-11-text-2">13.000</p>
                        <p class="grid-11-text-3">Tratamente de success</p>
                    </div>
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d673-bb51a2bb" class="grid-11-block-2">
                        <div class="_3d-block">
                            <div class="image-animation-trigger _3d-for-image"
                                style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <div class="parallax-animation">
                                    <div class="animation-color-bg" style="display: block;"></div><img sizes="100vw"
                                        loading="lazy"
                                        srcset="https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e5a86f57a980e38168_goby-tD3GaS9ysF4-unsplash-p-500.webp 500w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e5a86f57a980e38168_goby-tD3GaS9ysF4-unsplash-p-800.webp 800w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e5a86f57a980e38168_goby-tD3GaS9ysF4-unsplash-p-1080.webp 1080w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e5a86f57a980e38168_goby-tD3GaS9ysF4-unsplash-p-1600.webp 1600w, https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e5a86f57a980e38168_goby-tD3GaS9ysF4-unsplash.webp 1920w"
                                        alt="Klaas - Dentist website Webflow template"
                                        src="https://assets-global.website-files.com/633daa121f1308def083b05d/635af4e5a86f57a980e38168_goby-tD3GaS9ysF4-unsplash.webp"
                                        class="cover-image is-parallax"
                                        style="transform: translate3d(0px, -7%, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-ccad30fc-b48a-a74a-b732-16885c13d679-bb51a2bb" class="grid-11-block-1"><img
                            src="https://assets-global.website-files.com/633daa121f1308def083b05d/63565cc4db028ef7c69d1064_emergency_FILL0_wght100_GRAD0_opsz48-tan.svg"
                            loading="lazy" alt="" class="grid-icon-1">
                        <p class="grid-11-text-1">Folosim cele mai noi echipamente</p>
                    </div>
                </div>
                <div class="w-layout-grid content-grid-7">
                    <div id="w-node-_42f49c98-7590-c1a2-0ddb-310f55ee408f-bb51a2bb" class="grid-7-image-5">
                        <div class="slider">
                            <div class="slider-sticky-block">
                                <div class="slider-absolute-block"><img
                                        src="https://assets-global.website-files.com/633daa121f1308def083b05d/6344490ef8ec85612fdcb384_pexels-cedric-fauntleroy-4269942.webp"
                                        alt="Klaas - Dentist website Webflow template" class="slider-image-1"><img
                                        src="https://assets-global.website-files.com/633daa121f1308def083b05d/6344490e94c91a08d31ec0a7_pexels-cedric-fauntleroy-4270940.webp"
                                        alt="Klaas - Dentist website Webflow template" class="slider-image-2"><img
                                        src="https://assets-global.website-files.com/633daa121f1308def083b05d/6344490c155378d508cce1c9_pexels-cedric-fauntleroy-4270361.webp"
                                        alt="Klaas - Dentist website Webflow template" class="slider-image-3">
                                    <div class="slider-bg-for-interaction"></div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-timeline">
                            <div class="slider-timeline-bg"></div>
                        </div>
                    </div>
                    <div id="w-node-_42f49c98-7590-c1a2-0ddb-310f55ee4092-bb51a2bb" class="grid-7-block-3 is-2nd">
                        <div data-w-id="42f49c98-7590-c1a2-0ddb-310f55ee4093" class="grid-7-block-4">
                            <div class="motion-trigger-1"
                                style="will-change: transform; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="grid-7-text-3">7</p>
                            </div>
                            <div class="motion-trigger-2"
                                style="will-change: transform; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="grid-7-text-4">Medici Specialisti</p>
                            </div>
                            <div class="motion-trigger-3"
                                style="will-change: transform; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="grid-7-text-5">in Echipa</p>
                            </div>
                        </div>
                        <div data-w-id="42f49c98-7590-c1a2-0ddb-310f55ee409d" class="grid-7-block-4">
                            <div class="motion-trigger-1"
                                style="will-change: transform; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="grid-7-text-3">20+ </p>
                            </div>
                            <div class="motion-trigger-2"
                                style="will-change: transform; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="grid-7-text-4">ani de experienta</p>
                            </div>
                            <div class="motion-trigger-3"
                                style="will-change: transform; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            </div>
                        </div>
                        <div data-w-id="42f49c98-7590-c1a2-0ddb-310f55ee40a7" class="grid-7-block-4">
                            <div class="motion-trigger-1"
                                style="will-change: transform; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="grid-7-text-3">13.000</p>
                            </div>
                            <div class="motion-trigger-2"
                                style="will-change: transform; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="grid-7-text-4">Pacienti satisfacuti</p>
                            </div>
                            <div class="motion-trigger-3"
                                style="will-change: transform; transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="grid-7-text-5">Pacient</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <Footer />
    </main>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=633daa121f1308def083b05d" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://assets-global.website-files.com/633daa121f1308def083b05d/js/webflow.9e40210c1.js" type="text/javascript"></script>
</body>
</html>

<style>
@media (max-width: 2500px) {
    .header-6-image-size-team {
        display: none;
    }
}

</style>