<div className="w-96 h-96 relative bg-white">
  <div className="w-96 h-96 left-[304px] top-[844px] absolute bg-white">
    <div className="w-72 h-4 left-[1031px] top-[96px] absolute text-slate-500 text-xs font-medium font-['Roboto'] leading-none">Clinica Acreditata   -  Digital Smile Design</div>
    <div className="w-96 h-10 left-0 top-[64px] absolute text-neutral-900 text-4xl font-bold font-['Roboto'] leading-10">DSD - Digital Smile Design</div>
    <div className="w-96 h-11 left-0 top-[122px] absolute text-neutral-500 text-base font-normal font-['Roboto'] leading-normal">Experimentați un zâmbet care vă complimentează estetica facială cu o abordare personalizată digital cu tehnologia DSD pentru restaurarea dentară.</div>
    <div className="pt-4 pb-0.5 left-0 top-[425px] absolute border-t border-slate-500 border-opacity-30 flex-col justify-end items-start gap-2.5 inline-flex">
      <div className="w-40 h-6 text-neutral-900 text-base font-medium font-['Roboto'] leading-normal">Planificare Digitală Avansată</div>
      <div className="w-72 h-20 text-neutral-500 text-sm font-normal font-['Roboto'] leading-tight">Utilizați tehnologia avansată pentru planificări precise și rezultate previzibile, asigurându-vă că noul zâmbet îndeplinește obiectivele estetice si standardele de excelență.</div>
    </div>
    <div className="pr-4 pt-4 pb-0.5 left-[332px] top-[425px] absolute border-t border-slate-500 border-opacity-30 flex-col justify-end items-start gap-2.5 inline-flex">
      <div className="w-28 h-6 text-neutral-900 text-base font-medium font-['Roboto'] leading-normal">Proceduri Non-Invasive</div>
      <div className="w-72 h-20 text-neutral-500 text-sm font-normal font-['Roboto'] leading-tight">Bucurați-vă de disconfort minim cu tehnicile non-invasive ale DSD, concepute pentru a păstra structura naturală a dinților dumneavoastră.</div>
    </div>
    <div className="h-32 pr-0.5 pt-4 pb-2.5 left-0 top-[616px] absolute border-t border-slate-500 border-opacity-30 flex-col justify-end items-start gap-px inline-flex">
      <div className="w-40 h-6 text-neutral-900 text-base font-medium font-['Roboto'] leading-normal">Specialiști Dentari Experimentați</div>
      <div className="w-72 h-20 text-neutral-500 text-sm font-normal font-['Roboto'] leading-tight">Specialistii noștri certificați DSD combină experiența cu tehnologia inovatoare pentru a vă crea zâmbetul perfect.</div>
    </div>
    <div className="pr-5 pt-4 pb-0.5 left-[332px] top-[616px] absolute border-t border-slate-500 border-opacity-30 flex-col justify-end items-start gap-2.5 inline-flex">
      <div className="w-40 h-6 text-neutral-900 text-base font-medium font-['Roboto'] leading-normal">Tehnologie de Ultimă Generație</div>
      <div className="w-72 h-20 text-neutral-500 text-sm font-normal font-['Roboto'] leading-tight">Beneficiați de imagistica digitală de înaltă calitate și planificarea tratamentului 3D pentru un proces de design al zâmbetului eficient și fără probleme.</div>
    </div>
    <div className="pr-9 pt-4 pb-0.5 left-0 top-[230px] absolute border-t border-slate-500 border-opacity-30 flex-col justify-end items-start gap-2.5 inline-flex">
      <div className="w-48 h-6 text-neutral-900 text-base font-medium font-['Roboto'] leading-normal">Personalizarea        Zâmbetului</div>
      <div className="w-64 h-20 text-neutral-500 text-sm font-normal font-['Roboto'] leading-tight">Experimentați un zâmbet care completează estetica facială cu abordarea personalizată a DSD pentru proiectare dentară.</div>
    </div>
    <div className="pr-4 pt-4 pb-0.5 left-[332px] top-[230px] absolute border-t border-slate-500 border-opacity-30 flex-col justify-end items-start gap-9 inline-flex">
      <div className="w-52 h-6 text-neutral-900 text-base font-medium font-['Roboto'] leading-normal">Proces de Proiectare Colaborativă</div>
      <div className="w-72 h-12 text-neutral-500 text-sm font-normal font-['Roboto'] leading-tight">Fiți o parte integrantă din călătoria transformării zâmbetului dumneavoastră, având oportunitatea de a vedea și modifica zâmbetul viitor înainte de începerea tratamentulu</div>
    </div>
    <div className="pr-2.5 pt-4 pb-5 left-0 top-[811px] absolute border-t border-slate-500 border-opacity-30 flex-col justify-start items-start gap-2.5 inline-flex">
      <div className="w-40 h-6 text-neutral-900 text-base font-medium font-['Roboto'] leading-normal">Pre-Vizualizarea Rezultatului</div>
      <div className="w-72 h-14 text-neutral-500 text-sm font-normal font-['Roboto'] leading-tight">Previzualizați zâmbetul îmbunătățit folosind simulări digitale și luați decizii informate despre tratamentul dumneavoastră.</div>
    </div>
    <div className="pr-1 pt-4 pb-0.5 left-[332px] top-[811px] absolute border-t border-slate-500 border-opacity-30 flex-col justify-end items-start gap-2.5 inline-flex">
      <div className="w-32 h-6 text-neutral-900 text-base font-medium font-['Roboto'] leading-normal">Monitorizarea Progresului</div>
      <div className="w-72 h-20 text-neutral-500 text-sm font-normal font-['Roboto'] leading-tight">Bucurați-vă de suport complet și îndrumare, atât la distanță cât și personal, pe parcursul călătoriei dumneavoastră cu DSD si DentoMed.</div>
    </div>
    <div className="w-72 pt-3 left-[680px] top-[170px] absolute bg-neutral-100 rounded-lg justify-center items-center inline-flex">
      <img className="w-72 h-72" src="https://via.placeholder.com/300x288" />
    </div>
    <div className="w-72 h-72 left-[680px] top-[502px] absolute bg-neutral-100 rounded-lg">
      <img className="w-72 h-72 left-0 top-0 absolute" src="https://via.placeholder.com/300x300" />
      <div className="w-72 h-72 left-0 top-0 absolute opacity-60 bg-gradient-to-br from-slate-700 to-black" />
    </div>
    <div className="w-72 h-72 left-[1012px] top-[502px] absolute bg-neutral-100 rounded-lg" />
    <img className="w-72 h-72 left-[1312px] top-[502px] absolute origin-top-left rotate-180 rounded-lg shadow" src="https://via.placeholder.com/300x300" />
    <img className="w-72 h-72 left-[1011px] top-[170px] absolute rounded-lg" src="https://via.placeholder.com/301x301" />
  </div>
  <div className="w-96 h-96 left-0 top-[1840.50px] absolute bg-slate-800 bg-opacity-90">
    <div className="w-96 h-96 left-[304px] top-[96px] absolute">
      <div className="w-12 h-px left-0 top-[7.50px] absolute bg-slate-300" />
      <div className="w-36 h-4 left-[56px] top-[0.50px] absolute text-slate-300 text-xs font-medium font-['Roboto'] leading-none">Ghid Digital Smile Design</div>
      <div className="w-96 h-28 left-0 top-[32px] absolute text-neutral-200 text-3xl font-bold font-['Roboto'] leading-9">Transformați-vă zâmbetul cu DSD :       O tehnologie digitală axata pe armonizarea zambetului in functie de trasaturile faciale</div>
      <div className="w-96 h-9 left-0 top-[158px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">În timpul consultației inițiale, profesioniștii noștri certificați DSD vor evalua caracteristicile dentare și faciale pentru a vă proiecta un makeover personalizat al zâmbetului.</div>
      <div className="w-96 h-14 left-0 top-[214px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Utilizând scanări digitale avansate, vom crea un model 3D al dinților și vom simula rezultatul final, permițându-vă să vizualizați și să ajustați noul zâmbet înainte de începerea tratamentului.</div>
      <div className="w-96 h-20 left-0 top-[290px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Planul de tratament personalizat DSD poate include fațete, coroane sau alte restaurări, create pentru a vă evidenția frumusețea naturală. Cu opțiuni de monitorizare la distanță, beneficiați de comoditatea unui număr redus de vizite la cabinet.</div>
      <div className="w-96 h-14 left-0 top-[386px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Soluții Dentare Personalizate       Beneficiați de fațete, coroane sau alte restaurări dentare realizate special pentru dumneavoastră.</div>
      <div className="w-32 h-10 px-3 py-3 left-0 top-[472px] absolute opacity-80 bg-teal-500 rounded-full shadow justify-center items-center inline-flex">
        <div className="w-28 h-4 text-center text-white text-sm font-semibold font-['Roboto'] uppercase leading-tight">ProgRAMARE</div>
      </div>
    </div>
    <div className="w-12 h-px left-[304px] top-[715.50px] absolute bg-slate-300" />
    <div className="w-48 h-4 left-[354px] top-[715.50px] absolute text-center text-slate-300 text-xs font-medium font-['Roboto'] leading-none">Tehnologia Digital Smile Design <br/>la Clinica DentoMed</div>
    <div className="w-44 h-5 left-[352px] top-[767px] absolute text-neutral-200 text-lg font-bold font-['Roboto'] leading-7">Consultația Inițială</div>
    <div className="w-8 h-8 px-1 pt-2 pb-1.5 left-[308px] top-[768px] absolute justify-center items-center inline-flex" />
    <div className="w-64 h-9 left-[352px] top-[808.50px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">O evaluare atentă și completă pentru a înțelege dorințele și necesitățile unice ale zâmbetului dumneavoastră.</div>
    <div className="w-48 h-5 left-[752px] top-[767.50px] absolute text-neutral-200 text-lg font-bold font-['Roboto'] leading-7">Monitorizare Continuă</div>
    <div className="w-8 h-8 px-1 pt-2 pb-1.5 left-[708px] top-[768px] absolute justify-center items-center inline-flex" />
    <div className="w-72 h-9 left-[752px] top-[818.50px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Supraveghere atentă și regulată a evoluției dumneavoastră, realizată cu dedicație de către specialiștii noștri în ortodonție, atât la distanță, cât și față în față.</div>
    <div className="w-56 h-5 left-[1152px] top-[767px] absolute text-neutral-200 text-lg font-bold font-['Roboto'] leading-7">Planul de Tratament</div>
    <div className="w-8 h-8 px-1 pt-2 pb-1.5 left-[1108px] top-[768px] absolute justify-center items-center inline-flex" />
    <div className="w-64 h-9 left-[1152px] top-[808.50px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Anticipați cum va arăta zâmbetul dumneavoastră impecabil, chiar înainte de a începe transformarea.</div>
    <div className="w-48 h-5 left-[352px] top-[887px] absolute text-neutral-200 text-lg font-bold font-['Roboto'] leading-7">Menținerea Zâmbetului</div>
    <div className="w-8 h-8 px-1 pt-2 pb-1.5 left-[308px] top-[888px] absolute justify-center items-center inline-flex" />
    <div className="w-64 h-14 left-[352px] top-[918px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Ne asigurăm că frumusețea zâmbetului dumneavoastră rămâne perfectă și după tratament.</div>
    <div className="w-72 h-5 left-[752px] top-[887.50px] absolute text-neutral-200 text-lg font-bold font-['Roboto'] leading-7">Tehnologie de ultima generatie</div>
    <div className="w-8 h-8 px-1 pt-2 pb-1.5 left-[708px] top-[888px] absolute justify-center items-center inline-flex" />
    <div className="w-72 h-9 left-[752px] top-[918px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Ensuring your smile stays beautiful after<br/>treatment</div>
    <div className="w-56 h-5 left-[1152px] top-[887.50px] absolute text-neutral-200 text-lg font-bold font-['Roboto'] leading-7">Posibilitate de rate</div>
    <div className="w-8 h-8 px-1 pt-2 pb-1.5 left-[1108px] top-[888px] absolute justify-center items-center inline-flex" />
    <div className="w-60 h-4 left-[1152px] top-[918px] absolute opacity-80 text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Finantare cu dobanda 0</div>
    <div className="h-96 px-24 pt-24 pb-3.5 left-0 top-[1819.50px] absolute bg-white rounded-tl-2xl flex-col justify-end items-start gap-8 inline-flex">
      <div className="w-96 h-44 relative flex-col justify-start items-start flex">
        <div className="w-64 h-4 text-slate-500 text-xs font-medium font-['Roboto'] leading-none">Povestile de succes ale pacientilor</div>
        <div className="w-12 h-px bg-slate-300" />
        <div className="w-72 h-10 text-neutral-900 text-4xl font-bold font-['Roboto'] leading-10">Povesti de succes </div>
        <div className="w-96 h-7"><span style="text-neutral-500 text-base font-normal font-['Roboto'] leading-7">Suntem m</span><span style="text-neutral-500 text-base font-normal font-['Roboto'] leading-7">â</span><span style="text-neutral-500 text-base font-normal font-['Roboto'] leading-7">ndri de munca noastra si de rezultatele atinse !</span></div>
        <div className="h-8 pl-4 pr-40 py-2 bg-slate-500 bg-opacity-20 rounded-full shadow justify-start items-start gap-40 inline-flex">
          <div className="w-28 h-3.5 text-slate-600 text-xs font-semibold font-['Roboto'] uppercase leading-none">Pacientii nostrii</div>
          <div className="w-4 self-stretch px-0.5 py-0.5 justify-center items-center inline-flex" />
        </div>
      </div>
      <div className="w-96 h-14 relative flex-col justify-start items-start flex">
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
        <img className="w-14 h-14 relative rounded-full shadow" src="https://via.placeholder.com/56x56" />
      </div>
    </div>
    <img className="w-96 h-96 left-0 top-[1057.50px] absolute" src="https://via.placeholder.com/1920x757" />
    <img className="w-96 h-96 left-[940px] top-[0.50px] absolute" src="https://via.placeholder.com/980x715" />
    <div className="w-96 h-96 left-[1920px] top-[262.50px] absolute origin-top-left rotate-180 rounded-tl-2xl rounded-bl-2xl" />
  </div>
  <div className="w-12 h-px left-[96px] top-[4143.50px] absolute bg-slate-300" />
  <div className="w-28 h-4 left-[152px] top-[4136px] absolute text-slate-500 text-xs font-medium font-['Roboto'] leading-none">Intrebari Frecvente</div>
  <div className="w-4 h-5 left-[48px] top-[4200px] absolute text-center text-teal-500 text-sm font-medium font-['Roboto'] leading-tight">01</div>
  <div className="w-5 h-5 left-[896px] top-[4200px] absolute">
    <div className="w-5 h-5 left-0 top-0 absolute justify-center items-center inline-flex">
      <div className="grow shrink basis-0 self-stretch justify-center items-center inline-flex">
        <div className="grow shrink basis-0 self-stretch pl-2 pr-1.5 pt-1 pb-1.5 justify-center items-center inline-flex" />
      </div>
    </div>
    <div className="w-5 h-5 left-0 top-0 absolute bg-teal-500" />
  </div>
  <div className="left-[942px] top-[3870px] absolute bg-teal-50 justify-end items-center inline-flex">
    <img className="w-96 h-96" src="https://via.placeholder.com/985x789" />
  </div>
  <div className="w-96 p-12 left-[304px] top-[5345.75px] absolute bg-slate-800 justify-center items-center gap-16 inline-flex">
    <div className="w-60 h-20 px-2 justify-center items-center inline-flex">
      <div className="w-56 h-20 text-center text-white text-4xl font-bold font-['Roboto'] leading-10">Consultatie Gratuita !</div>
    </div>
    <div className="grow shrink basis-0 h-14 px-28 py-0.5 justify-center items-center inline-flex">
      <div className="w-96 h-14 text-center text-slate-300 text-sm font-normal font-['Roboto'] leading-tight">Cea mai usoara cale sa incepeti este prin a intra in legatura cu noi       si sa va programati la o consultatie gratuita cu un specialist din echipa noastra.</div>
    </div>
    <div className="w-48 h-14 px-7 py-5 bg-teal-500 rounded-full shadow justify-center items-center inline-flex">
      <div className="w-36 h-5 text-center text-white text-lg font-semibold font-['Roboto'] uppercase leading-7">Get Started</div>
    </div>
  </div>
  <div className="w-32 h-40 left-[374px] top-[718.50px] absolute" />
  <img className="w-96 h-96 left-0 top-0 absolute" src="https://via.placeholder.com/1920x625" />
  <div className="w-96 h-96 left-[286px] top-[353px] absolute bg-slate-950 bg-opacity-75">
    <div className="w-3 h-3 left-[256.05px] top-[54px] absolute" />
    <div className="w-96 h-28 left-[58px] top-[71px] absolute text-white text-4xl font-bold font-['Roboto'] leading-10">DSD - Digital Smile Design</div>
    <div className="w-96 h-12 left-[48px] top-[201px] absolute text-neutral-200 text-lg font-semibold font-['Roboto'] leading-7">Transformați-vă zâmbetul cu Digital Smile Design (DSD): Soluții dentare personalizate, adaptate trăsăturilor unice ale feței dumneavoastră.</div>
    <div className="w-96 h-10 left-[48px] top-[260px] absolute" />
    <div className="w-96 h-9 left-[48px] top-[287px] absolute text-white text-base font-normal font-['Roboto'] leading-tight">Cel mai simplu mod de a începe este să programați o consultație gratuită, la un moment care vă convine.</div>
    <div className="w-48 h-14 px-7 py-5 left-[242px] top-[337px] absolute bg-teal-500 rounded-full shadow justify-center items-center inline-flex">
      <div className="w-36 h-5 text-center text-white text-lg font-semibold font-['Roboto'] uppercase leading-7">Programare</div>
    </div>
    <div className="w-96 h-16 left-[48px] top-[427px] absolute border-t border-slate-500 border-opacity-30">
      <div className="w-24 h-1.5 left-0 top-[21px] absolute text-neutral-400 text-xs font-semibold font-['Roboto'] leading-none">Tipul Tratamentului:</div>
      <div className="w-32 h-1 left-[179px] top-[38px] absolute text-neutral-400 text-xs font-semibold font-['Roboto'] leading-none">Monitorizare la Distanță:        </div>
      <div className="w-16 h-3.5 left-[345px] top-[25px] absolute text-neutral-400 text-xs font-semibold font-['Roboto'] leading-none">Vizibilitate:        </div>
      <div className="w-20 h-3 left-[345px] top-[57px] absolute text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Depinde de Tratament</div>
      <div className="w-14 h-3.5 left-[465.38px] top-[25px] absolute text-neutral-400 text-xs font-semibold font-['Roboto'] leading-none">Durată:        </div>
      <div className="w-44 h-4 left-0 top-[54px] absolute text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Restaurări Dentare Personalizate</div>
    </div>
    <div className="w-36 h-4 left-[513px] top-[492px] absolute text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Variabilă în Funcție de Planul Individual<br/></div>
    <div className="w-28 h-4 left-[227px] top-[472px] absolute text-neutral-200 text-sm font-normal font-['Roboto'] leading-tight">Disponibilă</div>
  </div>
  <img className="w-56 h-52 left-[1021px] top-[694px] absolute" src="https://via.placeholder.com/226x212" />
  <img className="w-60 h-52 left-[1302px] top-[698px] absolute" src="https://via.placeholder.com/237x210" />
  <img className="w-56 h-52 left-[1435px] top-[4770px] absolute" src="https://via.placeholder.com/226x212" />
  <img className="w-64 h-52 left-[1056px] top-[4770px] absolute" src="https://via.placeholder.com/254x211" />
</div>