---
import Wap1 from '../components/Wap1.astro';
import Wap2 from '../components/Wap2.astro';
---
<section class="section rounded-blue">
     <div class="w-layout-blockcontainer main-container w-container wrap">
        <div class="wrap-contact-text">
            <h2 class="text-get-in-touch">Programeaza o consultatie</h2>
            <div class="contact-info-container" style="display: flex; flex-center: column; gap: 20px;">
                <div class="phone-numbers" style="display: flex; flex-direction: column; gap: 20px;">
                    <a href="tel:+40787389952" class="cta-dark nav-cta w-button">
                    <span class="font-icon white margin-right"></span>
                        <h3>0787 389 952</h3>
                    </a>
                    <Wap1 />
                    </a>
                </div>
            <div class="contact-info-container" style="display: flex; flex-center: column; gap: 20px;">  
                <div class="phone-numbers" style="display: flex; flex-direction: column; gap: 20px;">  
                    <a href="tel:+40787681941" class="cta-dark nav-cta w-button">
                    <span class="font-icon white margin-right"></span>
                        <h3>0787 681 941</h3>
                    </a>
                    <Wap2 />
                    </a>
                </div> 
            </div>
        </div>
    </div>    
</section>