<section
            data-w-id="3781d568-6ddc-f3ef-6952-35ce68611e72"
            class="section-hero-home"
    >
        <div class="w-layout-blockcontainer main-container w-container">
            <div class="wrap-hero-home">
                <div class="title-wrap-hero-home">
                    <div
                            data-w-id="dc21695a-3b80-2101-5643-08decb36f0bd"
                            style="opacity:1"
                            class="wrap-fade-h1"
                    >
                        <h1 class="mega-h1 fade-out-h1 small-heigh">
                                DentoMed
                        </h1>
                    </div>
                    <h1
                            data-w-id="0df42340-fe09-12c2-9efb-464deddef45d"
                            style="opacity:1"
                            class="mega-h1 small-heigh"
                    >
                            Digital Smile Design
                    </h1>
                </div>
                <div
                        data-w-id="67fcaf16-d402-b701-3d40-ad3ed0ec71dd"
                        style="opacity:1"
                        class="limit-584"
                >
                <div class="subtitle">
                            Perfecțiunea Zâmbetului: <br /> Transformați-vă Zâmbetul Digital
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-image-hero-home">
            <img
                    src="https://assets-global.website-files.com/653b69fdc9577766a6574c93/65438c9ce750db0603d94af2_zobarstnieciba-3.jpg"
                    loading="lazy"
                    sizes="100vw"
                    srcset="https://assets-global.website-files.com/653b69fdc9577766a6574c93/65438c9ce750db0603d94af2_zobarstnieciba-3-p-500.jpg 500w, https://assets-global.website-files.com/653b69fdc9577766a6574c93/65438c9ce750db0603d94af2_zobarstnieciba-3-p-800.jpg 800w, https://assets-global.website-files.com/653b69fdc9577766a6574c93/65438c9ce750db0603d94af2_zobarstnieciba-3-p-1080.jpg 1080w, https://assets-global.website-files.com/653b69fdc9577766a6574c93/65438c9ce750db0603d94af2_zobarstnieciba-3-p-1600.jpg 1600w, https://assets-global.website-files.com/653b69fdc9577766a6574c93/65438c9ce750db0603d94af2_zobarstnieciba-3-p-2000.jpg 2000w, https://assets-global.website-files.com/653b69fdc9577766a6574c93/65438c9ce750db0603d94af2_zobarstnieciba-3.jpg 2500w"
                    alt="DentoMed - Digital Smile Design"
                    class="image-hero-image"
            />
    </div>
</section>
<br>
