---

---
<section class="section rounded-black footer-section">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="top-footer hide-on-desktop">
    <a href="/" aria-current="page" class="brand-link-footer w-inline-block w--current">
      <img src="/images/logo-white.svg" loading="lazy" alt="Clinica Stomotologica DentoMed Logo" height="80"/>
      <div class="brand-footer">
        Clinica <br/>DentoMed
      </div>
    </a>
      <div class="right-footer">
        <a href="tel:40787389952" class="cta-white footer-cta w-button">
          <span class="font-icon margin-right"></span>
            Programeaza o Consultatie
          </a>
        </div>
      </div>
      <div class="divider-top-footer hide-on-desktop"></div>
      <div class="second-footer">
        <a href="/" aria-current="page" class="brand-link-footer hide-on-tablet w-inline-block w--current">
          <img src="/images/logo-white.svg" loading="lazy" alt="" height="80"/>
          <div class="brand-footer">Clinica DentoMed</div>
        </a>
        <div class="hide-on-tablet"></div>
        <div class="column-footer-links">
          <a href="/" class="link-footer">Acasa</a>
          <a href="/despre" class="link-footer">Despre DentoMed</a>
          <a href="/servicii" class="link-footer">Servicii</a>
          <a href="/preturi" class="link-footer">Preturi</a>
          <a href="/contact" class="link-footer">Contact</a>
        </div>
        <div class="column-footer-links">
          <div class="link-footer">
            luni - sambata<br/>10:00 - 22:00
          </div>
          <div class="link-footer">
            Vatra Luminoasa 2-24, bloc D6, <br/>scara B, apartament 50, Parter, <br/>Bucuresti, Romania
          </div>
          <div class="link-footer">
            Nr. inreg instituției medicale <br/>12345678912346
          </div>
        </div>
      </div>
      <div class="divider-bottom-footer"></div>
      <div class="wrap-legal-footer">
        <div class="text-legal-footer">2024 © DentoMed</div>
        <a href="/politica" class="text-legal-footer">politica noastra de confidențialitate</a>
      </div>
    </div>
  </section>