---

---

                  <div class="footer-wrap">
                    <section class="section with-linen-bg">
                        <div class="container is-full-width">
                            <div class="padding top-bottom-4em">
                                <div class="vertical-flex-gap-4em">
                                    <div class="numbering-block is-align-center">
                                        <p class="sign-text is-number">Pasul</p>
                                        <div class="numbering-line"></div>
                                        <p class="sign-text">Urmator</p>
                                    </div>
                                    <section class="section"><div class="w-layout-grid cta-2-grid"><div id="w-node-_073f4d94-128d-f812-df53-c6035dc9cd8a-5dc9cd88" class="cta-2-block-1"><div class="image-animation-trigger"><div class="parallax-animation"><div class="animation-color-bg" style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div><img loading="lazy" alt="Klaas - Dentist website Webflow template" src="https://assets-global.website-files.com/633daa121f1308def083b05d/6344522015537831b9cd4001_pexels-karolina-grabowska-6627273.webp" class="cover-image is-parallax" style="transform: translate3d(0px, 2.07956%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div></div></div><a data-w-id="073f4d94-128d-f812-df53-c6035dc9cd8f" href="/programare" class="cta-2-block-2 w-inline-block"><div class="cta-2-content"><p class="cta-2-title">Programare Online</p><p class="cta-2-text-1">Apasa aici pentru a programa o consultatie acum</p></div><div class="cta-background-color" style=""></div><img src="https://assets-global.website-files.com/633daa121f1308def083b05d/633daa121f1308e1c283b0a1_arrow-icon-white-4.svg" loading="lazy" alt="" class="cta-2-icon"></a></div></section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="topfooter-1">
                        <div class="topfooter-1-block-1">
                            <div data-w-id="cce06601-f565-0d88-20e5-6689625be065" class="topfooter-1-menu-button">
                                <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/634c23603e23cc289fce9a7c_menu_FILL0_wght700_GRAD0_opsz48.svg" loading="lazy" alt="" class="topfooter-icon"/>
                                <p class="topfooter-1-button-text">Meniu</p>
                                <div class="topfooter-1-background"></div>
                            </div>
                        </div>
                        <div class="socials-2 w-dyn-list">
                            <div role="list" class="socials-1-list w-dyn-items">
                                <div role="listitem" class="social-1-item w-dyn-item">
                                    <a data-w-id="cce06601-f565-0d88-20e5-6689625be06c" href="/social/twitter" class="social-1-link-block w-inline-block">
                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/633daa121f13083a5483b164_twitter-logo-black.svg" loading="lazy" alt="Twitter" class="social-icon"/>
                                        <div class="social-link-circle"></div>
                                    </a>
                                </div>
                                <div role="listitem" class="social-1-item w-dyn-item">
                                    <a data-w-id="cce06601-f565-0d88-20e5-6689625be06c" href="/social/facebook" class="social-1-link-block w-inline-block">
                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/633daa121f1308540d83b18a_facebook-logo-black.svg" loading="lazy" alt="Facebook" class="social-icon"/>
                                        <div class="social-link-circle"></div>
                                    </a>
                                </div>
                                <div role="listitem" class="social-1-item w-dyn-item">
                                    <a data-w-id="cce06601-f565-0d88-20e5-6689625be06c" href="/social/linkedin" class="social-1-link-block w-inline-block">
                                        <img src="https://assets-global.website-files.com/633daa121f130819bf83b08d/633daa121f1308589083b19c_linkedin-logo-black.svg" loading="lazy" alt="LinkedIn" class="social-icon"/>
                                        <div class="social-link-circle"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="topfooter-1-block-1">
                            <a href="/programare" class="topfooter-1-menu-button is-2nd w-inline-block">
                                <p class="topfooter-1-button-text">Programare Online</p>
                                <img src="https://assets-global.website-files.com/633daa121f1308def083b05d/634f1d0f419f707285ab6aa4_arrow_outward_FILL0_wght700_GRAD0_opsz48.svg" loading="lazy" alt="" class="topfooter-icon"/>
                            </a>
                        </div>
                    </div>
                    <div class="subfooter-1-black">
                        <div class="container is-full-width">
                            <div class="subfooter-links">
                                <div class="subfooter-links-wrap w-dyn-list">
                                    <div role="list" class="subfooter-links-list w-dyn-items">
                                        <div role="listitem" class="subfooter-link-item w-dyn-item">
                                            <a href="/termeni-si-conditii" class="subfooter-text-link is-2nd">Termeni si Conditii</a>
                                        </div>
                                        <div role="listitem" class="subfooter-link-item w-dyn-item">
                                            <a href="/politica-de-calitate" class="subfooter-text-link is-2nd">Politica de Calitate</a>
                                        </div>
                                        <div role="listitem" class="subfooter-link-item w-dyn-item">
                                            <a href="/politica-de-confidentialitate" class="subfooter-text-link is-2nd">Politica de Confidentialitate</a>
                                        </div>
                                        <div role="listitem" class="subfooter-link-item w-dyn-item">
                                            <a href="/politica-cookie" class="subfooter-text-link is-2nd">Politica Cookie</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="subfooter-links-list">
                                    <a href="#" target="_blank" class="subfooter-text-link is-2nd">XXX</a>
                                    <a href="#" target="_blank" class="subfooter-text-link is-2nd">XXX</a>
                                    <a href="#" target="_blank" class="subfooter-text-link is-2nd">XXX</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>