---

---
<script>
    const gallery = document.querySelector('.gallery');
    const track = document.querySelector('.gallery-track');
    const cards = document.querySelectorAll('.card');
    const easing = 0.05;
    let startY = 0;
    let endY = 0;
    let raf;
    
    const lerp = (start,end,t) => start * (1-t) + end * t;
    
    function updateScroll() {
      startY = lerp(startY,endY,easing);
      gallery.style.height = `${track.clientHeight}px`;
      track.style.transform = `translateY(-${startY}px)`;
      activateParallax();
      raf = requestAnimationFrame(updateScroll);
      if (startY.toFixed(1) === window.scrollY.toFixed(1)) cancelAnimationFrame(raf);
    }
    
    function startScroll() {
      endY = window.scrollY; 
      cancelAnimationFrame(raf);
      raf = requestAnimationFrame(updateScroll);
    }
    
    function parallax(card) {
      const wrapper = card.querySelector('.card-image-wrapper');
      const diff = card.offsetHeight - wrapper.offsetHeight;
      const {top} = card.getBoundingClientRect();
      const progress = top / window.innerHeight;
      const yPos = diff * progress;
      wrapper.style.transform = `translateY(${yPos}px)`;
    }
    
    const activateParallax = () => cards.forEach(parallax);
    
    function init() {
      activateParallax();
      startScroll();
    }
    
    window.addEventListener('load',updateScroll,false);
    window.addEventListener('scroll',init,false);
    window.addEventListener('resize',updateScroll,false);
</script>

<div class='gallery'>
    <div class='gallery-track'>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/1.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/2.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/3.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/4.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/5.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/6.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/7.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/8.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/9.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/9.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/10.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/11.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/12.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/13.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/14.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/15.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/16.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/17.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/18.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/19.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/20.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/21.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/23.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/24.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/25.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
           <img src='/dental-images/26.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/27.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/28.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/29.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/30.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/31.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/32.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/33.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/34.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/35.PNG'>
        </div>
      </div>
      <div class='card'>
        <div class='card-image-wrapper'>
          <img src='/dental-images/36.PNG'>
        </div>
      </div>
    </div>
  </div>
</div>  
<style>* {
    margin: 0;
    padding: 0.15rem;
    box-sizing: border-box;
  }
  
  .gallery-track {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.15rem;
    padding: 0.15rem;
    will-change: transform;
  }
  
  .card {
    height: 400px;
    overflow: hidden;
  
    & .card-image-wrapper {
      height: 135%;
      will-change: transform;
  
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  @media (width < 800px) {
    .gallery-track {
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media (width < 550px) {
    .gallery-track {
      grid-template-columns: repeat(1,1fr);
    }
  }
</style>