<head>
    <meta charset="UTF-8" />
    <title>Dentomed</title>
    <meta name="description" content="Clinica DentoMed feră tratamente dentare de înaltă calitate, restaurări, extracții, protezare, igienă orală, radiografii dentare, precum și îngrijire dentară" />
    <meta property="og:title" content="DentoMed" />
    <meta property="og:description" content="Clinica DentoMed feră tratamente dentare de înaltă calitate, restaurări, extracții, protezare, igienă orală, radiografii dentare, precum și îngrijire dentară" />
    <meta property="twitter:title" content="DentoMed" />
    <meta property="twitter:description" content="Clinica DentoMed feră tratamente dentare de înaltă calitate, restaurări, extracții, protezare, igienă orală, radiografii dentare, precum și îngrijire dentară" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://assets-global.website-files.com/653b69fdc9577766a6574c93/css/saulkrastu-zobarstnieciba.webflow.fbe7a0602.min.css" />
    <!-- Favicon -->
    <link rel="icon" href="../images/logo-white.svg" type="../images/svg+xml" />
     <!-- Favicon -->
    <link rel="shortcut icon" href="../images/logo.svg" type="../image/x-icon" />
    <link rel="apple-touch-icon" href="../images/logo.svg" />	
    <style>.wf-force-outline-none[tabindex="-1"]:focus { outline: none; }</style>
</head>
