
</div>
<h1>DentoMed - DSD in 6 pasi simpli: </h1>
<div>
<ol>
    <li >
        <div class="icon"><i class="fa-solid fa-face-viewfinder"></i></div>
        <div class="title">Scanare Digitala          
        </div>
        <div class="descr"></div>
    </li>
        <div class="ssingle-team-wide">
      <div class="image-team-wide"></div>
        <div class="right-team-wide"></div>
          <div class="top-wide">
            <h3 class="no-margins">Consultație Inițială și Radiografie</h3>
              <div>Călătoria spre zâmbetul perfect începe cu o vizită la DentoMed, unde veți avea o consultație inițială cu unul dintre specialiștii noștri în Designul Zâmbetului Digital. Această etapă include efectuarea unei radiografii panoramice pentru a evalua starea actuală a danturii și pentru a identifica nevoile specifice ale fiecărui pacient.

</div>
            </div>
          </div>
    
    <li >
        <div class="icon"><i class="fa-solid fa-microchip"></i></div>
        <div class="title">Design
          3D
        </div>
        <div class="descr"></div>
    </li>
    <div class="ssingle-team-wide">
      <div class="image-team-wide"></div>
        <div class="right-team-wide"></div>
          <div class="top-wide">
            <h3 class="no-margins">Fotografii Tehnice și Discuții Detaliate</h3>
              <div>După evaluarea inițială, procedăm la realizarea unui set de fotografii tehnice ale danturii dumneavoastră. Această etapă este esențială pentru a capta detaliile necesare planificării digitale a zâmbetului. De asemenea, veți avea o discuție amănunțită cu medicul despre așteptările și dorințele dumneavoastră în ceea ce privește zâmbetul final.</div>
            </div>
          </div>
    <li >
        <div class="icon"><i class="fa-solid fa-paint-brush"></i></div>
        <div class="title">Plan
          Digital
        </div>
        <div class="descr"></div>
    </li>
    <div class="ssingle-team-wide">
      <div class="image-team-wide"></div>
        <div class="right-team-wide"></div>
          <div class="top-wide">
            <h3 class="no-margins">Planificarea Interdisciplinară</h3>
              <div>Informațiile și imaginile colectate sunt analizate de echipa noastră interdisciplinară, formată din medici stomatologi, tehnicieni dentari și specialiști în estetică dentară. Împreună, concepem un plan de tratament personalizat, care să răspundă nevoilor și să îndeplinească așteptările dumneavoastră.</div>
              </div>
            </div>
    <li >
        <div class="icon"><i class="fa-solid fa-smile-wink"></i></div>
        <div class="title">Trial 
          Smile
        </div>

        <div class="descr"></div>
    </li>
    <div class="ssingle-team-wide">
      <div class="image-team-wide"></div>
        <div class="right-team-wide"></div>
          <div class="top-wide">
            <h3 class="no-margins">Prezentarea Simulărilor Digitale</h3>
              <div>Următorul pas este prezentarea simulărilor digitale ale zâmbetului dumneavoastră, realizate prin tehnologia DSD. Aceste simulări, cunoscute sub numele de wax-up și mock-up, vă oferă ocazia să vizualizați rezultatul final al tratamentului înainte de a începe procedurile stomatologice. Este momentul în care puteți solicita ajustări sau modificări ale planului de tratament.</div>
              </div>
            </div>
    <li >
        <div class="icon"><i class="fa-solid fa-camera-movie"></i></div>
        <div class="title">Ghidare
          Design
        </div>
        <div class="descr"></div>
    </li>
    <div class="ssingle-team-wide">
      <div class="image-team-wide"></div>
        <div class="right-team-wide"></div>
          <div class="top-wide">
            <h3 class="no-margins"> Aprobarea Planului de Tratament</h3>
              <div>După revizuirea și ajustarea planului de tratament în conformitate cu preferințele dumneavoastră, veți fi invitat să aprobați planul final. Această etapă asigură că sunteți complet mulțumit și încrezător în rezultatul propus înainte de a începe tratamentul efectiv.</div>
              </div>
            </div>
    <li >
        <div class="icon"><i class="fa-solid fa-lips"></i></div>
        <div class="title">Evaluare
          Rezultat
        </div>
        <div class="descr"></div>
    </li>
    <div class="ssingle-team-wide">
      <div class="image-team-wide"></div>
        <div class="right-team-wide"></div>
          <div class="top-wide">
            <h3 class="no-margins">Realizarea Tratamentului</h3>
              <div>Cu planul de tratament final aprobat, începem procedurile stomatologice necesare reabilitării estetice a zâmbetului dumneavoastră. Fiecare etapă a tratamentului este executată cu precizie, asigurându-se că rezultatul final este exact așa cum a fost planificat și aprobat de dumneavoastră.</div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>    
</ol>
</div>


<h1> </h1>
</main>

<style>
@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
}

body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: center;
  align-content: center;
  gap: 2rem;
  padding: 20px;
  font-family: "Exo 2", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

h1 { text-align: center }

ol {
  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  justify-content: flex-left;
  flex-wrap: wrap;
  gap: 2rem;

  list-style: none;
  counter-reset: stepnr;
}

ol li .icon { 
  font-size: 20rem; 
  color: var(--accent-color); 
  text-align: center;
  margin-bottom: 0rem;
  margin-left:-2rem; /* Adjust the value as needed */
}

ol li .title { 
  font-size: 2rem; 
  font-weight: 501; 
  padding-right:2rem;
}

li:nth-child(6n + 1) { --accent-color: #b8df4e }
li:nth-child(6n + 2) { --accent-color: #4cbccb }
li:nth-child(6n + 3) { --accent-color: #7197d3 }
li:nth-child(6n + 4) { --accent-color: #ae78cb }
li:nth-child(6n + 5) { --accent-color: #7dc7a4 }
li:nth-child(6n + 6) { --accent-color: #f078c2 }

ol li {
  counter-increment: stepnr;
  width: 22rem;
  --borderS: 2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
  padding-bottom:2rem;
}
ol li::before,
ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}
ol li::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 9rem;
  padding-bottom: 20rem;
  font-size: 18rem;
  font-weight: 500;
  overflow: hidden;
}

ol li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

ol li > * { width: 7.5rem }
ol li .icon { font-size: 2rem; color: var(--accent-color); text-align: center }
ol li .title { font-size: 2rem; font-weight: 500 }
ol li .descr { font-size: 0.8rem; font-weight: 300 }


</style>
