---
// Your Astro component imports
import Wap1 from '../components/Wap1.astro';
import Tel1 from '../components/Tel1.astro';
import Wap2 from '../components/Wap2.astro';
import Tel2 from '../components/Tel2.astro';
---

<section class="section rounded-blue">
    <div class="w-layout-blockcontainer main-container w-container">
        <div class="wrap-contact-text">
            <h2 class="text-get-in-touch">Programati o consultatie</h2>
            <div class="buttons-container" style="display: flex; align-items: center; gap: 30px;">
                <div>
                    <Tel1 />
                    <Wap1 /><br/>
                    <Tel2 />
                    <Wap2 />
                </div>
            </div>
        </div> 
    </div>
</section>