---
import Wap1 from '../components/Wap1.astro';
import Wap2 from '../components/Wap2.astro';
---

<section class="section rounded-blue">
    <div class="w-layout-blockcontainer main-container w-container">
        <div data-w-id="ddb02bcd-f627-df9f-185c-037060443e2a" class="wrap-contact-text">
            <h2 class="text-get-in-touch">
                Programati o vizita<br/>
            </h2>
            <h2 class="link-contact-thirds">
                <a href="tel:+40787389952">+40 787 389 952</a>
            </h2>
            <!-- Ensure that the class attribute is correctly placed within the tag -->
            <h2 class="link-contact-thirds">
            </h2>
                <Wap1 />
            <h2 class="link-contact-thirds">
                <a href="tel:+40787389952">+40 787 389 952</a>
            </h2>
            <h2 class="link-contact-thirds"> 
                <Wap2 />
            </h2>
        </div> 
    </div>
</section>
