<div class="tab-content w-tab-content">
    <div data-w-tab="Tab 1" class="tab-pane w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-0">
        <div class="tab-inner">
            <div class="featured-review w-dyn-list">
                <div role="list" class="featured-review-list w-dyn-items">
                    <div role="listitem" class="featured-review-item w-dyn-item">
                        <div id="w-node-_20d89408-3c69-d8eb-6dd3-e75ce1abda62-d683b0db" class="featured-review-content">
                            <p class="patient-name is-featured">Ibrahim Madi</p>
                            <div class="rich-text is-featured-review w-richtext">
                                <p>😍 Experiența mea la clinica dentară a fost excelentă. Echipa medicală a fost prietenoasă și profesionistă, iar eu am fost cazat eficient. Programările au fost punctuale, iar locul a fost foarte curat. Doctorul a oferit o explicație cuprinzătoare a tratamentului și au folosit tehnologia modernă. Costul a fost rezonabil în comparație cu calitatea. În general, sunt complet mulțumit și le recomand cu căldură. ⭐️⭐️⭐️⭐️⭐️</p>
                            </div>
                            <div class="review-client-name-block">
                                <p class="review-text-1 is-2nd is-featured">Medic Specialist</p>
                                <div class="review-line is-featured"></div><a href="#"
                                    class="review-link is-featured w-inline-block">
                                    <p class="review-link-text is-featured">Aljassani Nur Al Huda</p>
                                </a>
                            </div>
                        </div>
                        <div id="w-node-_2786462f-25fd-1ccc-93a0-a15c240f0fa1-d683b0db" class="featured-review-image">
                            <div class="_3d-block">
                                <div class="image-animation-trigger _3d-for-image"
                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="parallax-animation">
                                        <div class="animation-color-bg"
                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div><img alt="Review 1" loading="lazy"
                                            src="/dental-images/rev1.png"
                                            sizes="(max-width: 479px) 75vw, (max-width: 767px) 65vw, (max-width: 991px) 41vw, 35vw"
                                            
                                            style="transform: translate3d(0px, -1.03348%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-review-bg-image">
                            <div class="featured-review-bg-gradient-color"></div>
                            <div class="featured-review-bg-color"></div>
                            <div class="_3d-block">
                                <div class="image-animation-trigger _3d-for-image"
                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="parallax-animation">
                                        <div class="animation-color-bg is-dim-grey"
                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div><img alt="Review 1" loading="lazy"
                                            src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg"
                                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 91vw, (max-width: 991px) 94vw, 88vw"
                                            srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg 1280w"
                                            class="cover-image is-parallax"
                                            style="transform: translate3d(0px, -0.9429%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="list" class="featured-review-list w-dyn-items">
                    <div role="listitem" class="featured-review-item w-dyn-item">
                        <div id="w-node-_20d89408-3c69-d8eb-6dd3-e75ce1abda62-d683b0db" class="featured-review-content">
                            <p class="patient-name is-featured">Alex Nastase</p>
                            <div class="rich-text is-featured-review w-richtext">
                                <p>Foarte amabili si foarte profesioniști, recomand</p>
                            </div>
                            <div class="review-client-name-block">
                                <p class="review-text-1 is-2nd is-featured">Medic Specialist</p>
                                <div class="review-line is-featured"></div><a href="#"
                                    class="review-link is-featured w-inline-block">
                                    <p class="review-link-text is-featured">Aljassani Nur Al Huda</p>
                                </a>
                            </div>
                        </div>
                        <div id="w-node-_2786462f-25fd-1ccc-93a0-a15c240f0fa1-d683b0db" class="featured-review-image">
                            <div class="_3d-block">
                                <div class="image-animation-trigger _3d-for-image"
                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="parallax-animation">
                                        <div class="animation-color-bg"
                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div><img alt="Review 1" loading="lazy"
                                            src="/dental-images/rev3.png"
                                            sizes="(max-width: 479px) 75vw, (max-width: 767px) 65vw, (max-width: 991px) 41vw, 35vw"
                                            
                                            style="transform: translate3d(0px, -1.03348%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-review-bg-image">
                            <div class="featured-review-bg-gradient-color"></div>
                            <div class="featured-review-bg-color"></div>
                            <div class="_3d-block">
                                <div class="image-animation-trigger _3d-for-image"
                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="parallax-animation">
                                        <div class="animation-color-bg is-dim-grey"
                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div><img alt="Review 1" loading="lazy"
                                            src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg"
                                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 91vw, (max-width: 991px) 94vw, 88vw"
                                            srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg 1280w"
                                            class="cover-image is-parallax"
                                            style="transform: translate3d(0px, -0.9429%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="list" class="featured-review-list w-dyn-items">
                    <div role="listitem" class="featured-review-item w-dyn-item">
                        <div id="w-node-_20d89408-3c69-d8eb-6dd3-e75ce1abda62-d683b0db" class="featured-review-content">
                            <p class="patient-name is-featured">Roxana Vatrici</p>
                            <div class="rich-text is-featured-review w-richtext">
                                <p>Ali is a very patient and meticulous Doctor. You can feel and see that he really loves what he is doing. Very smart. I had a complication on one of my tooth and he took his time to decide which the best option. Hardly he managed to solve it, and thanks to him I am safe with no hidden infection. Also, the other teeth are amazingly rebuild and carried, without hidden caries as before. No pain anymore:) Coming back for implants. Thank you Ali and Sara!</p>
                            </div>
                            <div class="review-client-name-block">
                                <p class="review-text-1 is-2nd is-featured">Medic Specialist</p>
                                <div class="review-line is-featured"></div><a href="#"
                                    class="review-link is-featured w-inline-block">
                                    <p class="review-link-text is-featured">AlKhafaji Ali</p>
                                </a>
                            </div>
                        </div>
                        <div id="w-node-_2786462f-25fd-1ccc-93a0-a15c240f0fa1-d683b0db" class="featured-review-image">
                            <div class="_3d-block">
                                <div class="image-animation-trigger _3d-for-image"
                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="parallax-animation">
                                        <div class="animation-color-bg"
                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div><img alt="Review 1" loading="lazy"
                                            src="/dental-images/rev2.png"
                                            sizes="(max-width: 479px) 75vw, (max-width: 767px) 65vw, (max-width: 991px) 41vw, 35vw"
                                            
                                            style="transform: translate3d(0px, -1.03348%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-review-bg-image">
                            <div class="featured-review-bg-gradient-color"></div>
                            <div class="featured-review-bg-color"></div>
                            <div class="_3d-block">
                                <div class="image-animation-trigger _3d-for-image"
                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="parallax-animation">
                                        <div class="animation-color-bg is-dim-grey"
                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div><img alt="Review 1" loading="lazy"
                                            src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg"
                                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 91vw, (max-width: 991px) 94vw, 88vw"
                                            srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg 1280w"
                                            class="cover-image is-parallax"
                                            style="transform: translate3d(0px, -0.9429%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="list" class="featured-review-list w-dyn-items">
                    <div role="listitem" class="featured-review-item w-dyn-item">
                        <div id="w-node-_20d89408-3c69-d8eb-6dd3-e75ce1abda62-d683b0db" class="featured-review-content">
                            <p class="patient-name is-featured">Diana Carp</p>
                            <div class="rich-text is-featured-review w-richtext">
                                <p>Sunt clienta DentoMed de 5 ani, in urma unei urgente stomatologice, intr-o zi de sambata. Amabilitatea, profesionalismul si igiena impecabila sunt principalii factori datorita carora am continuat sa vin la acest cabinet.
                                    Raportul calitate pret unul foarte bun. ⭐️⭐️⭐️⭐️⭐️</p>
                            </div>
                            <div class="review-client-name-block">
                                <p class="review-text-1 is-2nd is-featured">Medic Specialist</p>
                                <div class="review-line is-featured"></div><a href="#"
                                    class="review-link is-featured w-inline-block">
                                    <p class="review-link-text is-featured">Aljassani Nur Al Huda</p>
                                </a>
                            </div>
                        </div>
                        <div id="w-node-_2786462f-25fd-1ccc-93a0-a15c240f0fa1-d683b0db" class="featured-review-image">
                            <div class="_3d-block">
                                <div class="image-animation-trigger _3d-for-image"
                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="parallax-animation">
                                        <div class="animation-color-bg"
                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div><img alt="Review 1" loading="lazy"
                                            src="/dental-images/rev4.png"
                                            sizes="(max-width: 479px) 75vw, (max-width: 767px) 65vw, (max-width: 991px) 41vw, 35vw"
                                            
                                            style="transform: translate3d(0px, -1.03348%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-review-bg-image">
                            <div class="featured-review-bg-gradient-color"></div>
                            <div class="featured-review-bg-color"></div>
                            <div class="_3d-block">
                                <div class="image-animation-trigger _3d-for-image"
                                    style="will-change: transform; transform: translate3d(-4%, -4%, 0px) scale3d(1, 1, 1) rotateX(4deg) rotateY(-6deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="parallax-animation">
                                        <div class="animation-color-bg is-dim-grey"
                                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div><img alt="Review 1" loading="lazy"
                                            src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg"
                                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 91vw, (max-width: 991px) 94vw, 88vw"
                                            srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg 1280w"
                                            class="cover-image is-parallax"
                                            style="transform: translate3d(0px, -0.9429%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-tab="Tab 2" class="tab-pane w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-1">
        <div class="tab-inner">
            <div class="reviews w-dyn-list">
                <div role="list" class="reviews-list w-dyn-items">
                    <div role="listitem" class="review-flex w-dyn-item">
                        <div class="review-grid-column-1">
                            <div class="review-image-size">
                                <div class="while-scrolling-effect-5rem"
                                    style="will-change: transform; transform: translate3d(0px, -4.999rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="image-animation-trigger">
                                        <div class="parallax-animation">
                                            <div class="animation-color-bg is-linen-light"
                                                style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div><img alt="Review 3" loading="lazy"
                                                src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363.jpg"
                                                sizes="(max-width: 479px) 84vw, (max-width: 767px) 89vw, (max-width: 991px) 43vw, 36vw"
                                                srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363.jpg 1098w"
                                                class="cover-image is-parallax"
                                                style="transform: translate3d(0px, 6.9986%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-grid-column-2">
                            <div class="review-content-block">
                                <p class="patient-name">Lucy Francis</p>
                                <div class="rich-text w-richtext">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div class="review-client-name-block">
                                    <p class="review-text-1 is-2nd">Dentist</p>
                                    <div class="review-line"></div><a href="/staff/helen-kato"
                                        class="review-link w-inline-block">
                                        <p class="review-link-text">Helen Kato</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="review-flex w-dyn-item">
                        <div class="review-grid-column-1">
                            <div class="review-image-size">
                                <div class="while-scrolling-effect-5rem"
                                    style="will-change: transform; transform: translate3d(0px, -4.999rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="image-animation-trigger">
                                        <div class="parallax-animation">
                                            <div class="animation-color-bg is-linen-light"
                                                style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div><img alt="Review 2" loading="lazy"
                                                src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483.jpg"
                                                sizes="(max-width: 479px) 84vw, (max-width: 767px) 89vw, (max-width: 991px) 43vw, 36vw"
                                                srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483.jpg 1280w"
                                                class="cover-image is-parallax"
                                                style="transform: translate3d(0px, 6.9986%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-grid-column-2">
                            <div class="review-content-block">
                                <p class="patient-name">Melanie Schmidt</p>
                                <div class="rich-text w-richtext">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div class="review-client-name-block">
                                    <p class="review-text-1 is-2nd">Dentist</p>
                                    <div class="review-line"></div><a href="/staff/robert-thurman"
                                        class="review-link w-inline-block">
                                        <p class="review-link-text">Robert Thurman</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="review-flex w-dyn-item">
                        <div class="review-grid-column-1">
                            <div class="review-image-size">
                                <div class="while-scrolling-effect-5rem"
                                    style="will-change: transform; transform: translate3d(0px, -4.999rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="image-animation-trigger">
                                        <div class="parallax-animation">
                                            <div class="animation-color-bg is-linen-light"
                                                style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div><img alt="Review 1" loading="lazy"
                                                src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg"
                                                sizes="(max-width: 479px) 84vw, (max-width: 767px) 89vw, (max-width: 991px) 43vw, 36vw"
                                                srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg 1280w"
                                                class="cover-image is-parallax"
                                                style="transform: translate3d(0px, 6.9986%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-grid-column-2">
                            <div class="review-content-block">
                                <p class="patient-name">Josh Hammond</p>
                                <div class="rich-text w-richtext">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div class="review-client-name-block">
                                    <p class="review-text-1 is-2nd">Dentist</p>
                                    <div class="review-line"></div><a href="/staff/helen-kato"
                                        class="review-link w-inline-block">
                                        <p class="review-link-text">Helen Kato</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-tab="Tab 3" class="tab-pane w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-2">
        <div class="tab-inner">
            <div class="reviews w-dyn-list">
                <div role="list" class="reviews-list w-dyn-items">
                    <div role="listitem" class="review-flex w-dyn-item">
                        <div class="review-grid-column-1">
                            <div class="review-image-size">
                                <div class="while-scrolling-effect-5rem"
                                    style="will-change: transform; transform: translate3d(0px, -4.999rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="image-animation-trigger">
                                        <div class="parallax-animation">
                                            <div class="animation-color-bg is-linen-light"
                                                style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div><img alt="Review 3" loading="lazy"
                                                src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363.jpg"
                                                sizes="(max-width: 479px) 84vw, (max-width: 767px) 89vw, (max-width: 991px) 43vw, 36vw"
                                                srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5f0a926bd544d1444d1_pexels-ivan-samkov-8498363.jpg 1098w"
                                                class="cover-image is-parallax"
                                                style="transform: translate3d(0px, 6.9986%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-grid-column-2">
                            <div class="review-content-block">
                                <p class="patient-name">Lucy Francis</p>
                                <div class="rich-text w-richtext">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div class="review-client-name-block">
                                    <p class="review-text-1 is-2nd">Dentist</p>
                                    <div class="review-line"></div><a href="/staff/helen-kato"
                                        class="review-link w-inline-block">
                                        <p class="review-link-text">Helen Kato</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="review-flex w-dyn-item">
                        <div class="review-grid-column-1">
                            <div class="review-image-size">
                                <div class="while-scrolling-effect-5rem"
                                    style="will-change: transform; transform: translate3d(0px, -4.999rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="image-animation-trigger">
                                        <div class="parallax-animation">
                                            <div class="animation-color-bg is-linen-light"
                                                style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div><img alt="Review 2" loading="lazy"
                                                src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483.jpg"
                                                sizes="(max-width: 479px) 84vw, (max-width: 767px) 89vw, (max-width: 991px) 43vw, 36vw"
                                                srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5e84648e6a1bd5739b3_pexels-cottonbro-6918483.jpg 1280w"
                                                class="cover-image is-parallax"
                                                style="transform: translate3d(0px, 6.9986%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-grid-column-2">
                            <div class="review-content-block">
                                <p class="patient-name">Melanie Schmidt</p>
                                <div class="rich-text w-richtext">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div class="review-client-name-block">
                                    <p class="review-text-1 is-2nd">Dentist</p>
                                    <div class="review-line"></div><a href="/staff/robert-thurman"
                                        class="review-link w-inline-block">
                                        <p class="review-link-text">Robert Thurman</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="review-flex w-dyn-item">
                        <div class="review-grid-column-1">
                            <div class="review-image-size">
                                <div class="while-scrolling-effect-5rem"
                                    style="will-change: transform; transform: translate3d(0px, -4.999rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    <div class="image-animation-trigger">
                                        <div class="parallax-animation">
                                            <div class="animation-color-bg is-linen-light"
                                                style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div><img alt="Review 1" loading="lazy"
                                                src="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg"
                                                sizes="(max-width: 479px) 84vw, (max-width: 767px) 89vw, (max-width: 991px) 43vw, 36vw"
                                                srcset="https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-500.jpg 500w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-800.jpg 800w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179-p-1080.jpg 1080w, https://assets-global.website-files.com/633daa121f130819bf83b08d/634ec5cca926bd7a85144124_pexels-vazhnik-7562179.jpg 1280w"
                                                class="cover-image is-parallax"
                                                style="transform: translate3d(0px, 6.9986%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-grid-column-2">
                            <div class="review-content-block">
                                <p class="patient-name">Josh Hammond</p>
                                <div class="rich-text w-richtext">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div class="review-client-name-block">
                                    <p class="review-text-1 is-2nd">Dentist</p>
                                    <div class="review-line"></div><a href="/staff/helen-kato"
                                        class="review-link w-inline-block">
                                        <p class="review-link-text">Helen Kato</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>