---
import Layout from '../layouts/Layout.astro'
import SpeedInsights from '@vercel/speed-insights/astro';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<Head />
		<script type="module">
			document.addEventListener('DOMContentLoaded', () => {
			  const n = document.documentElement;
			  const t = " w-mod-";
			  n.className += t + "js";
			  if ("ontouchstart" in window || navigator.maxTouchPoints) { n.className += t + "touch"; }
			});
		</script>
		<script is:inline>
			function speedInsightsBeforeSend(data){
			  console.log("Speed Insights before send", data)
			  return data;
			}
		</script>
		<speedInsightsBeforeSend />
		<SpeedInsights client:load />
	</head>
	<body>
		<Navbar />
		<slot />
		<slot />
		<slot />
		<Footer />
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
			  var menuButtdocument, querySelector('.menu-button.w-nav-button');
			  var navMenu = document.querySelector('.nav-menu.w-nav-menu');
		  
			  if (menuButton) {
				menuButton.addEventListener('click', function() {
				  navMenu.classList.toggle('is-active');
				});
			  }
			});
		</script>
		<style>.wf-force-outline-none[tabindex="-1"]:focus { outline: none; }</style>
	</body>
</html>